[2018-02-09 15:40] pkedy commented on #1032
I tried the tweak below and it seems to be working.  The question is whether or not its a sane fix.

In `record_batch.go` line in `RecordBatch::encode` I commented out putting the LastOffsetDelta (which @superfell pointed out was not being computed), and also setting `OffsetDelta` on all the records (which were all 0s too).

[code]

If these offsets can be computed on the fly in the encode methods

[2018-02-09 16:24] pkedy commented on #1032
Scratch that thought - I looked at the impact of removing those fields.  I like @superfell 's approach of added the fix in `produceSet::buildRequest` better.

[code]

[2018-02-09 16:57] kenschneider18 commented on #1032
As the code exists in master right now, there will also need to be a change to RecordBatch::encode. It was changed at some point to use this for LastOffsetDelta:

[code]
https://github.com/Shopify/sarama/blob/master/record_batch.go#L67

It will need to be changed back to this for the change in produce_set::buildRequest to be picked up:

[code]

[2018-02-09 17:54] eapache commented on #1032
cc @bobrik since you changed `LastOffsetDelta` originally. It sounds like this error existed.

Actually, I assume somebody has already reproduced this issue with the code currently in master (including Ivan's tweak to that line) but if not then maybe that already fixed it? It looks like it would be encoding the same value as if you set it in `buildRequest` and then encoded `LastOffsetDelta` direct

[2018-02-09 17:55] eapache commented on #1034
Marking this as a duplicate of #1032.

[2018-02-09 17:55] #1034 closed

[2018-02-09 17:56] eapache commented on #1013
I think on reflection this is basically the same issue as #1032, so I'll roll it up there.

[2018-02-09 17:56] #1013 closed

[2018-02-09 17:59] pkedy commented on #1032
@eapache - @kenschneider18 and I suspect the `LastOffsetDelta` is off by 1 considering the C implementation.

https://github.com/edenhill/librdkafka/blob/8fed971043e642c195860cd77006622d23616c22/src/rdkafka_msgset_writer.c#L1098-L1100

I'm about to submit a PR assuming this is correct.

[2018-02-09 18:37] kenschneider18 commented on #1032
@eapache I can confirm that the issue still existed in master. The key is the use of len(b.records) - 1 rather than len(b.records) for LastOffsetDelta.

[2018-02-09 18:42] bobrik commented on #1032
Change LGTM. I don't see how this triggers missing messages, though.

[2018-02-09 18:47] pkedy commented on #1032
@bobrik - Good point.  @kenschneider18 and I were not on the latest master.  Along the journey of discovering the issue for ourselves, we noticed the off by 1.  After the PR is merged, we can close this ticket.

[2018-02-09 19:09] eapache commented on #1032
Thank you all for your hard work digging into this and finding a solution! I'll let it soak over the weekend, and likely push a new release with this fix on Monday.

[2018-02-09 19:09] #1032 closed

[2018-02-09 19:10] eapache commented on #1012
Please feel free to reopen if you have more information showing this is a Sarama bug.

[2018-02-09 19:10] #1012 closed

[2018-02-09 19:11] eapache commented on #993
In hindsight #1032 was almost certainly a duplicate of this, but it should be fixed in master now.

[2018-02-09 19:11] #993 closed

[2018-02-10 03:40] bobrik opened #1042 "Configurable compression level"
Currently there's no way to configure compression level for Gzip. We also want to add Zstd support to Kafka itself, where there are many compression levels:

* https://github.com/apache/kafka/pull/2267

There should be a setting to set compression level in producer config. I'm not sure whether we want separate config per codec (`CompressionLevelGZIP`, `CompressionLevelZSTD`) or one setting to rule

[2018-02-10 10:44] Kartikkumar-Shetty opened #1043 "GoRoutines for NewSynProducer keeps on increasing"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: 1.15.0
Kafka Version: 0.10
Go Version: 1.8

##### Configuration

What configuration values are you using for Sarama and Kafka?

[code]

//Code to push message
[code]

##### Logs

When filing an issue please provide logs from Sarama and Kafka if at all
possible.

[2018-02-12 07:24] horkhe commented on #1032
Just for the record, this was the root cause of the issue I was trying to fix with #1037

[2018-02-12 14:21] eapache commented on #1042
Separate config does feel more flexible, but given that gzip, zstd, and all other compression codecs I can think of specify levels in simple integers, a single `CompressionLevel` seems sufficient? There's currently no way to specify multiple compression codecs in a single config, so there should never be any ambiguity.

[2018-02-12 14:43] eapache commented on #1043
The sync producer is just a wrapper around the async producer which has a bit of extra logic to wait for each message. This part is normal.

How many partitions do you have in your topics? Sarama will create a goroutine for every partition as you notice, a long with a few others (one per broker, so an extra 10 in your case, plus a few singleton goroutines). It should reach an upper limit and stop

[2018-02-12 19:32] superfell commented on #1032
I also logged a bug in Kafka as ideally the broker should accept the bad request to start with
https://issues.apache.org/jira/browse/KAFKA-6554

[2018-02-12 20:06] eapache opened #1045 "Message was too large, server rejected it to avoid allocation error when using Headers"
@pkedy from https://github.com/Shopify/sarama/pull/1040#issuecomment-365025401

That error can occur in two ways:
- The producer will short-circuit a message on its own if it detects it too large: https://github.com/Shopify/sarama/blob/f7be6aa2bc7b2e38edf816b08b582782194a1c02/async_producer.go#L274-L277 That check currently includes the length of headers, but maybe it shouldn't?
- The broker sends

[2018-02-12 20:12] #1042 closed

[2018-02-12 20:29] SimpleApp opened #1046 "Reduce memory pressure when reading large topic from beginning"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: 3b1b38866a79f06deddf0487d5c27ba0697ccd65
Kafka Version: 0.11.1
Go Version: go1.9.3 darwin/amd64

sarama-cluster version : v2.1.12 3001c2453136632aa3219a58ea3795bb584b83b5

##### Configuration

Problem arises in multiple configuration

##### Logs
N/A

##### Probl

[2018-02-12 20:46] eapache commented on #1046
As you correctly note, Sarama does not use a memory pool and simply relies on Go's garbage collector. You are also correct that the garbage collector does not return memory to the OS very frequently. However, Go's allocator is very good about reusing memory internally so I wouldn't expect enormous memory usage or growth; it's not something I've seen in similar use cases before.

I would note that

[2018-02-12 20:52] SimpleApp commented on #1046
Thansk for the answer. Indeed i had to increase it (to 15MB actually).

From what i see, it doesn't seem to reuse the memory at all, because it consumes up to 2 GB of memory , then after a few minutes go back to 200MB (which means the total active memory shouldn't be a lot more than 200MB)

[2018-02-12 20:57] eapache commented on #1046
Hmm... is your code doing anything unusual or potentially long-running with the messages that the consumer returns you? It's possible that those have some references back to the original packet data, so if you're holding on to them it might prevent anything from being reclaimed?

[2018-02-12 20:57] SimpleApp commented on #1046
I should add that the memory consumed during the draining of the topic seems proportional to the size of the topic (which is another thing i didn't expect).

[2018-02-12 21:05] eapache commented on #1046
Probably the most useful investigation you could do right now is to use go's builtin memory profiling tools (https://golang.org/pkg/runtime/pprof/) to figure out more precisely where the bulk of the memory is being allocated, and why it isn't being reused/reclaimed. If there's a bug that will show us where it is, and if it's just the GC being lazy that will show us where to use memory pools (e.g.

[2018-02-12 21:05] SimpleApp commented on #1046
Messages are just json-encoded structure, which i decode and then extract some info to store in a local map.

It doesn't do anything else. In particular, if that were a memory leak on my part, it couldn't retrieve memory back after some time of inactivity.

[2018-02-12 21:06] SimpleApp commented on #1046
I did use pprof, and 99% of the memory is allocated by the decode function in Broker.go

[2018-02-12 21:08] SimpleApp commented on #1046
One interesting update : we've actually run the daemon in a more memory constrained environment, using kubernetes to limit the allowed memory to 1GB, and it doesn't seem to crash. Still, i'm curious to understand why the memory buffers inside go runtime aren't reused..

[2018-02-12 21:19] eapache commented on #1046
I have no idea why this is behaving the way it is, this is getting into the guts of the Go memory allocator and GC which are well beyond my knowledge.

If the program runs fine in a more constrained system, then my best guess is that Go has decided allocating more (since it's available) is easier than reusing the existing chunks for some reason.

I'm happy to take pull requests to e.g. use a `sync

[2018-02-12 21:19] #1046 closed

[2018-02-13 10:22] Kartikkumar-Shetty commented on #1043
We have 256 partitions per topic and we have 6 topic, but the goroutine count does not stabilize

[2018-02-13 12:13] eapache commented on #1043
I wouldn’t expect it to stabilize until ~1600 goroutines are created. Does it increase beyond that point?

[2018-02-13 12:31] buyology opened #1048 "proposal: create AdminClient interface"
Now that we have almost all of the administrative messages in place (and one in the pipeline #1027) and the updated `Metadata`-message for finding the coordinator as a PR as necessitated by some requests (#1047)  — a natural next step would be to provide some higher level interfaces (as requested in e.g. #1039).

I therefore propose a new `AdminClient` interface, with a draft looking something lik

[2018-02-13 14:28] eapache commented on #1048
Something like this makes a lot of sense to me, 👍.

My question is around how this interacts with `Client`; does it build on top (like the producer/consumer) or does it stand alone? How does it interact with the client's cache (e.g. if you use the admin client to delete a topic, does that get busted from the underlying client's cache somehow)?

[2018-02-13 14:29] eapache commented on #1048
Having just read what I wrote here, I'm also wondering if we can stay away from `Client` in the naming just to avoid ambiguity. `ClusterAdmin` or `BrokerAdmin` or something?

[2018-02-13 15:51] mimaison commented on #1048
Thanks for coming up with a proposal. It looks good overall. Just a few comments:
- we also need an API to list/describe topics
- many of the Kafka APIs can accept a list of topics/resources so it would be nice to be able to support this. For example create/delete several topics in 1 call
- we probably want to return tuples like `(*TopicError, error)` to differentiate failing to send the request a

[2018-02-13 19:14] buyology commented on #1048
@eapache — I agree with the notion that we probably want to draw a clear line of separation from the Client. Otherwise we might get obliged to do (potentially complex?) house keeping. Also, I guess most are willing to accept that since AFAIK other administrative endpoints have no direct interactions with the producing/consuming clients (i.e. if you use the Java equivalent).

As a consequence I gue

[2018-02-15 23:33] andrewhavck opened #1054 "question: Long running process with TLS client certificate expiration"
##### Versions

Sarama Version: v1.14.0
Kafka Version: 0.10.0.1
Go Version: 1.8.3

##### Logs

[code]

##### Problem Description

Sarama applications that are long running and use a TLS client certificate enter a **tls: no renegotiation** loop when the certificate expires. An **ErrOutOfBrokers** error will eventually come through the AsyncProducer Errors() channel but this doesn't describe the TLS

[2018-02-16 14:13] eapache commented on #1054
A couple of ideas here:
- I suppose `ErrOutOfBrokers` can/should wrap the underlying connection issue (if any) so that you can identify it when it comes back.
- It's probably useful to have a blacklist of error types (such as tls: no renegotiation) which are not retriable in order to short-circuit that process and make recovery faster.

[2018-02-16 14:32] tarikdemirci opened #1057 "Plans to support SASL/SCRAM authentication?"
##### Problem Description
Is there anyone working on SASL/SCRAM support?

##### Related links
http://kafka.apache.org/documentation.html#security_sasl_scram
https://www.cloudkarafka.com/docs-go.html  (This doc implies Sarama has no support for SCRAM and suggests confluent-kafka-go instead)

[2018-02-16 14:38] eapache commented on #1057
I am not currently working on this. Per https://github.com/Shopify/sarama/blob/bfaa60f9e0d0b6781a78ed5f01e0426615a5ea13/config.go#L43-L44 the only supported method right now is `SASL/PLAIN`.

[2018-02-16 15:49] andyfeller commented on #1054
Something similar also happens whenever the kafka brokers renew their certificates without restarting the service using sarama.

[2018-02-16 17:32] andrewhavck commented on #1054
@eapache Thanks for responding to my issue.

I see value in doing this for broad error handling and debugging when the cluster is no longer reachable, I'm not sure if it's the right solution for this scenario.

This feels like the right approach for handling unrecoverable connection issues.

I'd be willing to submit a pull request if you believe this is how Sarama should be handling these errors.

[2018-02-16 19:49] eapache commented on #1054
I think it basically is: it will let you capture the error, stop the producer and initialize a new one with the updated config?

[2018-02-16 21:47] andrewhavck commented on #1054
Having `ErrOutOfBrokers` wrap the underlying connection issue works but it makes the application responsible for knowing when the producer needs to be re-initialized or not. It would be nice if the producer told the application when it needed to be re-initialized. I'd imagine this would happen whenever the producer matched a blacklisted error. Perhaps an `ErrOutOfBrokersFatal` code could relay the

[2018-02-16 22:08] eapache commented on #1054
I think that makes sense. Although I'm not sure how many errors we can really know that for in advance? Even `tls: no renegotiation` could indicate a broker-side misconfiguration, and the producer will keep running fine if you fix the broker?

[2018-02-19 13:43] Kartikkumar-Shetty commented on #1043
We have not seen more than 1600 goroutines on our test server yet but number of goroutine keeps increasing the max number I have seen is around 1400 and increasing, is this normal and as the number of requests to kafka increase will the number of goroutines increase as well ? since we are seeing spike in go routines on our Live Systems

[2018-02-19 13:51] eapache commented on #1043
Yes, when you have such a large number of total partitions (6*256 = 1536) then an equivalently large number of goroutines is normal.

The per-partition goroutines are created lazily as needed, which is why the count gradually increases after startup. However, the count will stabilize once all partitions have been accessed.

This behaviour is normal, correct, and perfectly safe unless you are runni

[2018-02-19 13:51] #1043 closed

[2018-02-19 17:25] andrewhavck commented on #1054
Good point, to limit scope and make things simple for this use case it makes sense to only wrap the underlying connection issue with `ErrOutOfBrokers` so the client can handle it.

[2018-02-21 20:38] therealplato opened #1058 "Which import case is authoritative: Shopify/shopify?"
While trying to vendor a repo with `dep` I encountered this:
[code]
This makes sense, dependency `github.com/bsm/sarama-cluster` wants upper case `Shopify` and my code is importing lower case `shopify`.

I encountered similar issues with [`Sirupsen/sirupsen`](https://github.com/sirupsen/logrus/issues/451) and it was a pain to resolve.

I suspect my code's lowercase import is wrong but I'd like off

[2018-02-21 20:40] eapache commented on #1058
I tend to prefer `github.com/Shopify/sarama` but I don't know if there's any technical way to bless that?

[2018-02-21 20:43] therealplato commented on #1058
Places I looked were readme and issue search for "case", "import"

[2018-02-21 21:02] eapache commented on #1058
Well, this ticket should do then :)

[2018-02-21 21:02] #1058 closed

[2018-02-22 20:44] samv commented on #901
If you check an example [eg here](https://www.confluent.io/blog/transactions-apache-kafka/), you can see that you explicitly add messages produced and the offsets committed to the transaction.  So you do know whether a message is in the transaction - you added it.

IMHO this provides a lot of value - I'd call it the milestone where streaming systems are as general purpose a business rule paradigm

[2018-02-26 20:44] chasse-code commented on #1057
I would like to have SCRAM authentication too. It's been a part of Kafka for a while now and there are valid reasons to want to have the secret not be plain. Not sure why that comment indicates that SASL/PLAIN is the only one.

[2018-02-27 08:25] tarikdemirci commented on #1057
It's the only supported SASL option by Sarama right now. There is also SASL/GSSAPI which is again not supported by Sarama.

[2018-02-27 15:15] chasse-code commented on #1057
I would love to have the authentication methods match that which is currently supported by Kafka. I have to rework our security to be able to allow Burrow to be able to communicate with Kafka over PLAINTEXT so it can access the __consumer_offsets but no other topics.

[2018-02-28 10:55] reallovelei opened #1060 "Memory leak"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: 1.14.0
Kafka Version: 2.11-0.11.0.1
Go Version:  go version go1.9.2 linux/amd64

##### Configuration

What configuration values are you using for Sarama and Kafka?

##### Logs

When filing an issue please provide logs from Sarama and Kafka if at all
possible. Yo

[2018-02-28 14:33] eapache commented on #1060
This seems a lot like #1046?

The "problem description" is just a stack trace; is that where you think the leak is occurring? do you have a more complete profile you can share showing it actually building over time? That location will definitely allocate a lot of memory so it may not be an actual leak.

As a general rule, Go has garbage collection so it's very difficult to leak memory.

[2018-02-28 14:56] eapache commented on #1060
I've answered similar tickets a lot, so I put a more detailed answer in the FAQ now: https://github.com/Shopify/sarama/wiki/Frequently-Asked-Questions#why-is-the-consumer-leaking-memory-andor-goroutines

[2018-03-01 14:17] nim-nim opened #1061 "Samara 1.16.0 / go 1.9.4 x86_64 → FAIL: TestProduceRequest"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: 1.16.0
Kafka Version: N/A
Go Version: 1.9.4 x86_64

Installed:
  golang-github-davecgh-spew-devel.noarch 1.1.1-0.4.0.20180301git8991bc2.el7.llt
  golang-github-eapache-go-resiliency-devel.noarch 0-0.2.gitb86b1ec.el7
  golang-github-eapache-queue-devel.noarch 1.1

[2018-03-02 02:36] chandradeepak commented on #1046
@SimpleApp @eapache  , i have faced similar issue too and this is how we solved it

see if that makes any difference for you

1) By default stores 256 messages for each partition  . So in your case it if you have 4 partitions it is close to 1GB. which would explain what you are seeing .
so reduce the   **Config.ChannelBufferSize**( sarama config) to less like 10 . so that way each partition is con

[2018-03-02 02:41] chandradeepak commented on #1060
@reallovelei
i have faced similar issue too and this is how we solved it

see if that makes any difference for you
By default sarama stores 256 messages for each partition in partition consumer . So in your case it if you have 4 partitions  and each message is is close  to 1mb them  1GB is allocated in memory .
And if you have multiple consumer working then it would be very high.
 so reduce the Co

[2018-03-02 07:10] pirlck opened #1062 "Produce message with sarama cost too much time(sometimes 1s,2s)"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version:1.0
Kafka Version:1.0
Go Version:1.8

##### Configuration

What configuration values are you using for Sarama and Kafka?

##### Logs
435 func (b *Broker) send(rb protocolBody, promiseResponse bool) (*responsePromise, error) {
436     in := time.Now()
437     Logg

[2018-03-02 13:46] eapache commented on #1062
That is where the broker will block if you already have `config.Net.MaxOpenRequests` in flight. Try increasing that value?

[2018-03-02 13:55] eapache commented on #1061
`-buildmode pie` is not supported on my computer, but otherwise the unit tests pass for me with an identical command (and of course they're regularly passing on CI). It looks like the failure you posted is due to a difference in compression; perhaps one of the compression libraries is not working properly on your system?

[2018-03-02 14:03] tcrayford commented on #1062
as a note, GC pauses on kafka could also cause this kind of issue. Anything like that in your broker's GC logs?

[2018-03-03 08:42] pirlck commented on #1062
@eapache   Ok, I will try it.
Sarama version is  Version 1.15.0
 13     config.Producer.Return.Successes = true
 14     config.Producer.MaxMessageBytes = topic.MaxMessage
 15     config.Producer.Timeout = topic.RepTimeout(500ms)
 16     config.Producer.Partitioner = sarama.NewHashPartitioner
 17     config.Producer.RequiredAcks = sarama.WaitForAll
  Other configuration items by default.
  Thank yo

[2018-03-03 08:43] pirlck commented on #1062
@tcrayford   I do not find broker's GC logs.
Thank you ~

[2018-03-03 09:10] pirlck commented on #1062
@eapache . This problem occured since I updated the sarama from version 1.10.1 to 1.15.0, because i want to use kafka1.0

[2018-03-05 08:03] pirlck commented on #1062
@eapache  I tried  increasing config.Net.MaxOpenRequests to 10(default), but it does not work.

[2018-03-05 13:02] eapache commented on #1062
Please try with v1.16. If that doesn’t work, it would be helpful to know which version introduced this problem.

[2018-03-05 16:26] pirlck commented on #1062
@eapache  Hi, it seems that  the number of clients has  influence. I change it smaller (300 -> 10) and that case happen less. But still the following case happen and  make  the production have long time(about 1s)

 async_producer.go:834 producer/broker/1 state change to [closing] because EOF
 broker.go:189 Closed connection to broker gzns-kafka-es01.gzns.iwm.name:9094
 async_producer.go:486 produc

[2018-03-05 16:32] eapache commented on #1062
`EOF` means the broker closed the connection. The reason will be in the broker's logs.

[2018-03-05 16:34] pirlck commented on #949
mark

[2018-03-05 16:36] pirlck commented on #1062
OK, I will read the broker logs. Thank you~

[2018-03-08 09:04] fuzhq commented on #272
Has this problem some result? I encounter the same problem.

[2018-03-10 11:35] cosastro opened #1067 "client has run out of available brokers to talk to (Is your cluster reachable?)"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version:1.0
Kafka Version:0.8
Go Version:1.8

##### Configuration

What configuration values are you using for Sarama and Kafka?

##### Logs

When filing an issue please provide logs from Sarama and Kafka if at all
possible. You can set `sarama.Logger` to a `log.Logger`

[2018-03-15 14:00] eapache commented on #1067
Please provide the Sarama logs, they will have more details about what the error is.

[2018-03-21 13:18] buyology opened #1070 "Producer should keep sent record batches intact when retrying (at least for EOS)"
While working on the `TransactionalProducer`/`EOS` the one remaining hurdle is that the producer currently splits the batches when retrying:

https://github.com/Shopify/sarama/blob/5fd60c2be0d4eaf97c800319c0e3602b9a13c452/async_producer.go#L878-L882

This implies that the broker is no longer guaranteed to see the exact same batches on retry.

The broker, however, expects just that — as illustrated

[2018-03-22 12:05] andrewmunro opened #1071 "SSL: Unexpected EOF while fetching metadata from broker"
##### Versions
Sarama Version: v1.16.0 (f7be6aa2bc7b2e38edf816b08b582782194a1c02)
Kafka Version: Kafka 2.12-0.11.0.1
Go Version: golang:1.10-alpine (https://github.com/docker-library/golang/blob/9bf6daddb324a4d8e82b0613cf348a6eff363f95/1.10/alpine3.7/Dockerfile)

##### Configuration
Kafka:
listeners=plaintext://:10092,ssl://:9093
ssl.client.auth=requested
ssl.enabled.protocols=TLSv1.2
security.int

[2018-03-22 12:33] eapache commented on #1071
🤔 Are there broker-side logs when this happens? "Unexpected EOF" usually means the broker hit an exception and killed the connection.

I'm not sure this is true. From the looks of your Sarama logs there are *two* clients being created (note "Initializing new client" twice). One is connecting *and* fetching metadata correctly, the other is failing on the initial connect. But it's hard to tell becau

[2018-03-22 13:42] andrewmunro commented on #1071
@eapache thanks for pointing me in the right direction. The key was that there was two clients connecting, one to fetch the topics and the other to pull the data. I had only configured one to use TLS, so it was failing to connect! I had to make a few modifications to the goka library, but this is my setup now:
[code]

[2018-03-22 13:42] #1071 closed

[2018-03-24 21:38] nim-nim commented on #1061
Well, I rebuilt all the stack it depends on switched to Go 1.10, and yet:

[code]

[2018-03-29 15:24] marcosrmendezthd opened #1072 "question: minimizing consumption buffering"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: 1.16.0
Kafka Version: 0.9.0.1
Go Version: 1.10

##### Configuration

What configuration values are you using for Sarama and Kafka?

Defaults

##### Logs

When filing an issue please provide logs from Sarama and Kafka if at all
possible. You can set `sarama.Logge

[2018-03-29 17:46] eapache commented on #1072
Since you have explicit topic/partition/offsets in mind in this case, to truly minimize the consumption of resources you can create a `Broker` directly and construct the `FetchRequest`s yourself. That gives you final control and introduces effectively no buffering in the system.

If you want to use the `Consumer` still I would suggest the following config tweaks (see the docs for more details on e

[2018-03-29 17:46] #1072 closed

[2018-03-29 18:03] marcosrmendezthd commented on #1072
perfect. thank you!

[2018-04-02 15:28] honghzzhang opened #1074 "Header information not received in the consumer"
##### Versions

Sarama Version: v1.16.0
Kafka Version: kafka_2.11-1.0.0.tgz
Go Version: go1.10 darwin/amd64

##### Configuration
I have written a small test reproducer. Please see attached files producer.go and consumer.go.

##### Logs

The output from running my test producer which has the headers set:
41973 producer.go:24] producer message &{send <nil> test message for headers [{[] []} {[116 101

[2018-04-02 15:46] eapache commented on #1074
You need to set `Version` key in your config to tell Sarama that you're running against Kafka 1.0 and that it actually supports the headers.

We should potentially provide an error message in this case.

[2018-04-02 16:21] honghzzhang commented on #1074
@eapache Appreciate the quick response on this!
A few follow up questions on this:
1. Does the version need to be set in both producer and consumer config? If yes, do the versions have to match in producer and consumer for things to work?

2. I added the following lines when constructing the sarama config in the producer:
kafkaVersion, err := sarama.ParseKafkaVersion("1.0.0")
if err != nil {
   gl

[2018-04-02 16:30] eapache commented on #1074
Yes

I mean, technically they don't have to, but they *should* because it should match the actual Kafka version, and presumably the producer and consumer are talking to the same cluster.

It looks right to me. What is the value of the error message that is returned beside partition and offset?

Yes, that's expected, the producer has to have the version sent in order to send the headers in the firs

[2018-04-02 16:42] honghzzhang commented on #1074
@eapache This is the error in sending message when the version is set in producer config:
5013 producer.go:38] Failed to send message: kafka server: Message contents does not match its CRC.

[2018-04-02 17:03] homer6 commented on #1067
I ran into this issue, too, but was able to resolve it.

I added

    //verbose debugging (comment this line to disabled verbose sarama logging)
    sarama.Logger = log.New(os.Stdout, "[sarama] ", log.LstdFlags)

to enable the verbose logging. After which, it said that I was not including my port number in the connection string. I would have thought it would use the default kafka port, if unspecif

[2018-04-02 17:21] eapache commented on #1067
The logging is intended to be fairly quiet - we run with it in production. The only reason it doesn't default to enabled is because it's not good practice for a library to start randomly generating output to stdout, and there's no other good default location to log to.

[2018-04-03 22:32] homer6 commented on #1067
The log level makes sense as a default as you have it.

What I meant by default was the port number. If I left the port number off of the connection string, I'd expect Sarama to default to kafka's default port 9092. Right now, if I leave the port off of the connection string, it generates the "client has run out of available brokers to talk to" error.

Thanks for Sarama, btw. It works really well!

[2018-04-04 13:27] honghzzhang commented on #1074
Any suggestions on how I could work around the problem or further debug the problem?

[2018-04-04 13:47] eapache commented on #1074
I'm not sure, a CRC error seems very strange given the way messages are encoded. I suppose one thing to try would be to look at the message on the wire and see if the CRC is actually wrong or not? I wonder if headers are not supposed to count toward the CRC or something?

cc @wladh in case you have any ideas?

[2018-04-04 14:05] honghzzhang commented on #1074
Thanks @eapache. How do I look at the message on the wire to check for CRC? And what is the expected value for CRC? Can you explain more in details?

This is a very simple producer/consumer and just produce/consume string message. I will attach my updated copies of the producer/consumer code with the kafka version set in the config and it will be great if you can take a look from your side when yo

[2018-04-04 15:54] kamilash commented on #1039
@chandradeepak were you able to create a topic using the code you posted here?

[2018-04-06 01:39] chandradeepak commented on #1039
@kamilash , I was just trying out how to create topics. But we have a pull request pending which would allow you to create topics.

see this pull request.
https://github.com/Shopify/sarama/pull/1055

with that pull request code and kafka 1.0 and below client code i was able to create topics ,

config := sarama.NewConfig()
	config.Version = sarama.V1_0_0_0
	admin, err := sarama.NewClusterAdmin([]st

[2018-04-06 07:50] sarunask opened #1075 "DescribeAcls returns empty Acl's list"
##### Versions
Sarama Version: 5e8fd95863bd4a894fcd29225547d56967f189ad
Kafka Version: kafka_2.11-1.0.0
Go Version: 0.10.1

##### Configuration

Kafka configured with ACLs (kafka.security.auth.SimpleAclAuthorizer) based on X.509 cert subject names.
Sarama config:

##### Logs

Sarama log output:

Kafka Authorizer DEBUG log output:

##### Problem Description

Sarama doesn't return any ACL's which ar

[2018-04-06 12:44] buyology commented on #1075
You have to specify an `Operation` to filter on — the zero value for `Operation` is `AclOperationUnknown`.

This should work:

[code]

[2018-04-06 16:27] 15029836736 opened #1076 "i can‘t get library"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version:
Kafka Version:
Go Version: 1.6.3

##### Problem Description
when I get library：
go get -u github.com/Shopify/sarama
# github.com/Shopify/sarama
/home/XX/goproc/src/github.com/Shopify/sarama/delete_records_request.go:96: undefined: sort.Slice
/home/xx/goproc/src/

[2018-04-06 18:01] eapache commented on #1076
Per the README, we currently only support back to Go 1.8, where (I believe) `sort.Slice` was added. You might want to try a different tagged version rather than master.

[2018-04-06 18:01] #1076 closed

[2018-04-06 18:14] eapache commented on #1070
🤔 this is really awkward, because the current producer architecture was completely designed around the single message as a unit of retriability.

Given that the producer already guarantees *ordering* though, you could do something like...
- assign each `ProducerMessage` an ID for the batch
- in the partitionProducer and brokerProducer, track those so that batches are not produced until fully prese

[2018-04-09 11:00] wladh commented on #1074
CRC error message is a bit misleading, because the error can mean more than that (basically it means something like "message is corrupted in some way"). You can check the broker logs (but you might need to increase the logging level to TRACE or DEBUG) to see what went wrong.
I seem to remember that trying to send message with headers when one of the consumers of that topic doesn't support them, wi

[2018-04-09 12:28] sarunask commented on #1075
Thank you, this code works :)

[2018-04-09 12:28] #1075 closed

[2018-04-09 16:01] honghzzhang commented on #1074
I have figured out the problem!

In my producer code, before I added headers to the producer message header, I had this
       if msg.Headers == nil {
               msg.Headers = make([]sarama.RecordHeader, 1)
       }
to initialize msg.Header if it's nil.

And when I added my headers
	testHeader := sarama.RecordHeader{Key: []byte("testHeader2"), Value: []byte("testValue2")}
	msg.Headers = append

[2018-04-10 17:21] MatthewDolan opened #1078 "SyncProducer should respect context deadlines"
##### Versions

Sarama Version: 8da9fa72b86689a02355dca1182444cca607e054 (latest master)
Kafka Version: 1.0.0
Go Version: 1.10

##### Configuration

Standard Configuration for Synchronous Production.

##### Logs

No specific logs.

##### Problem Description

The problem I saw with this is that if Kafka takes a long time to respond to requests or hangs entirely, the SendMessage and SendMessages in

[2018-04-13 10:04] jilieryuyi opened #1080 "CreateTopics got error"
hi eapache, I got some toubles when i use sarama to create a topic

fmt.Printf("%+v\n", *r.TopicErrors["testtopic"])
output:
[code]
the test code:
[code]

can you help me to resolve it ?

[2018-04-13 12:41] eapache commented on #1080
What do the broker logs say?

[2018-04-14 01:32] jilieryuyi commented on #1080
I have found this error, thank for help!
[code]

[2018-04-14 01:33] #1080 closed

[2018-04-14 13:15] jilieryuyi opened #1081 "can sarama support alter a topic?"
hi, all
I can find a way to create a topic use sarama, but i can not find a way to alter a topic, like add Partitions or change ReplicationFactor, can sarama support it ?

can somebody tell me?

[2018-04-14 17:53] eapache commented on #1078
The PR you filed originally *looks* roughly correct to me.

Really though, by using the `SyncProducer` I assume that blocking is the behaviour you want. If you want non-blocking or timeouts or anything like that, you can just use the `AsyncProducer` instead? That's what it's for.

[2018-04-14 17:54] #1060 closed

[2018-04-14 17:55] eapache commented on #1061
That's really weird, I still can't reproduce and I don't know what could be causing this.

[2018-04-14 17:55] #1062 closed

[2018-04-14 18:02] eapache commented on #1067
Ah, ya, that's a bit awkward. We just pass the string you provide to https://golang.org/pkg/net/#Dial so Sarama never treats it as structured at all. I suppose we could use https://golang.org/pkg/net/#SplitHostPort or something to parse it, default the port number, and then join it together again?

I wouldn't be opposed to a Pull Request implementing that, but it seems like a lot of work for minor

[2018-04-14 18:04] eapache commented on #1081
CreatePartitions: https://github.com/Shopify/sarama/blob/8da9fa72b86689a02355dca1182444cca607e054/broker.go#L389

DeletePartitions: https://github.com/Shopify/sarama/blob/8da9fa72b86689a02355dca1182444cca607e054/broker.go#L411

AlterConfigs: https://github.com/Shopify/sarama/blob/8da9fa72b86689a02355dca1182444cca607e054/broker.go#L532

[2018-04-14 18:04] #1081 closed

[2018-04-15 01:47] jilieryuyi opened #1082 "Some doubts for use sarama"
hi, all

I am test sarama besause work needs, some test like this order:

1、create a new topic "test1"
2、get topics
3、delete topic "test1"
4、get topics again
here i get the same result like before delete (use the same cli),  if i create a client, the result is ok, why?

demo like:
[code]

delete works is not real time? or cache?

[2018-04-16 16:31] eapache commented on #1082
Cache.

`RefreshMetadata` will update it.

[2018-04-16 16:31] #1082 closed

[2018-04-17 03:02] skOak commented on #272
Try to add
------------
<ip-address>  <hostname>
------------
in your /etc/hosts file.
It works for me.

[2018-04-20 19:13] varun06 opened #1085 "Question - Does sync producer SendMessages() method guarantees ordering in a batch?"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: e8552c0
Kafka Version: Latest
Go Version: 1.10

##### Configuration

What configuration values are you using for Sarama and Kafka?

##### Logs

When filing an issue please provide logs from Sarama and Kafka if at all
possible. You can set `sarama.Logger` to a `l

[2018-04-20 19:25] eapache commented on #1085
The ordering is guaranteed, because the loop on line 122 iterates over the messages in order and puts them into `sp.producer.Input()` in order.

[2018-04-20 19:25] #1085 closed

[2018-04-20 19:53] varun06 commented on #1085
My bad, I was asking about failure case, what happens when a publish fails in middle of the batch? does it stop or it retries that particular message?

[2018-04-20 20:05] eapache commented on #1085
I think https://github.com/Shopify/sarama/wiki/Frequently-Asked-Questions#does-saramas-producer-guarantee-message-ordering and https://github.com/Shopify/sarama/wiki/Frequently-Asked-Questions#does-saramas-producer-guarantee-that-successful-messages-are-contiguous cover your main points?

[2018-04-20 20:09] varun06 commented on #1085
That clears it, thanks a lot.

[2018-04-25 08:17] adwinsky opened #1087 "Sarama consumer error: kafka: response did not contain all the expected topic/partition blocks"
##### Versions

Sarama Version: e8552c0dbf502cd7ec9186b57897e6cf9f15fb34
Kafka Version: 1.1.0
Go Version: 1.9.1

##### Configuration

General config provided, with version 1.1.0.0 set, log compacted kafka topic.

##### Problem Description

While processing some of my topics, consumer block and starts returning following error:

I was able to read these topics using Kafka's bin/console-consumer too

[2018-04-25 15:01] schinivision opened #1088 "broker.ApiVersions does not reflect real supported API version"
##### Versions

Sarama Version: e8552c0dbf502cd7ec9186b57897e6cf9f15fb34
Kafka Version: 1.0.0
Go Version: go1.9.4 windows/amd64

Attached to a 3 node kafka cluster

##### Problem Description

I found an issue when I wanted to refresh MetaData from a broker (broker.GetMetadata)

First I ask the Broker about the supported API versions.

[code]

The Result is this:

In particular for Metadata Update

[2018-04-25 15:07] eapache commented on #1088
Not sure what's going on here, sarama does support metadata requests up to and include v5. What's the exact error? Are there any messages in the broker logs?

[2018-04-26 03:43] bowen-unglue opened #1089 "GetOffset by timestamp always return -1"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: v1.16.0
Kafka Version: 1.1.0
Go Version: 1.8

##### Configuration

[code]

##### Logs

offset for partition 0 is -1.offset for partition 1 is -1.

##### Problem Description
Trying to start processing data at offset based on time stamp.   But it only returns -1 w

[2018-04-26 11:15] schinivision commented on #1088
Hi. No there are no broker logs, neither does the sarama library state any errors (debug turned on)... But I think I found a way to reproduce it. It has something to do with the combination of the saram.version and the actual kafka version that you use...

I am using a Kafka Version: 1.0.0

When I want to fetch Metadata from a broker with the max version that is received by broker.ApiVersions, it

[2018-04-26 20:43] dynahcatq opened #1090 "HashPartitioner cast uint32 to int32"
##### Versions
Sarama Version:  e8552c0 (latest master)
Kafka Version: 1.0.0
Go Version: 1.10

##### Configuration
Standard Configuration.

##### Logs
No specific logs.

##### Problem Description

https://github.com/Shopify/sarama/blob/e8552c0dbf502cd7ec9186b57897e6cf9f15fb34/partitioner.go#L126

The `p.hasher.Sum32()` is being cast to int32. The default hasher sarama uses is FNV-1. In golang, [`S

[2018-04-26 21:46] sdotz opened #1091 "Support Kafka client's "auto.offset.reset = throw exception if no offset" setting"
Feature Request: Support Kafka client's `auto.offset.reset` configuration:
From: https://kafka.apache.org/08/documentation.html
[code]

It seems like sarama currently (1.16.0) supports the first two.

[2018-04-30 11:59] rustjason commented on #352
Hi, @eapache I got a use case for this, bear with me if I am wrong. Since now we have more and more serveless infra like aws lambda. Do you think running a consumer on this kind of serveless infra would be a good idea? Since we don't want to create the machine to run the code and maintain it.  we just need to periodically run this lambda function and it will process the data. in this case, consume

[2018-04-30 21:28] lhaskins opened #1093 "Allow *not* updating the kakfa address in response"
##### Versions
Sarama Version: 1.16.0
Kafka Version: 1.0.0
Go Version: 1.10.1

##### Configuration
Kafka brokers and zookeeper executed using docker, while connecting from a local process.
Default config values.

##### Logs
Note lines 21-24 of the attached file. The kafka broker list is initially set to the host addresses of ["127.0.0.1:6092", "127.0.0.1:7092", "127.0.0.1:8092", "127.0.0.1:9092"],

[2018-05-02 05:47] catchSora opened #1094 "no send msg result info"
##### Versions
Sarama Version:1.14
Kafka Version:0.10.2.1
Go Version:1.9

##### Configuration
[code]

##### when I use pushMsg send handleSuccess and handleError no log output, msg not success send
restart process send sucess

[2018-05-02 09:01] RussellLuo opened #1095 "Support the DeleteGroups API"
Currently `sarama` does not support the [DeleteGroups API](https://kafka.apache.org/protocol#The_Messages_DeleteGroups), which is very useful for implementing ephemeral consumer groups. (See [the discussion](https://github.com/confluentinc/kafka-rest/issues/148) of the use case.)

[2018-05-02 18:50] abjsaha opened #1097 "Test Failing"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: 1.16.0
Kafka Version: N/a
Go Version: go version go1.10 linux/amd64

##### Configuration

What configuration values are you using for Sarama and Kafka?
None, just building tests.

##### Logs

[code]

##### Problem Description
TestProduceRequest Failing

[2018-05-03 17:28] eapache commented on #1088
I'm not sure what the difference is supposed to be between the two snippets, they are identical?
[code]

If you're referring to the value set in the config (`Config.Version`) then this behaviour is already documented. Specifically: "setting it to a version older than you have will not break anything, although it may prevent you from using the latest features". It sounds like that's what's happenin

[2018-05-03 17:29] eapache commented on #1078
Feel free to reopen if you come up with anything.

[2018-05-03 17:29] #1078 closed

[2018-05-03 17:32] eapache commented on #1094
Are you waiting for the log at all or is your process exiting right away?

[2018-05-03 17:33] eapache commented on #1097
This looks like a duplicate of #1061 which I still can't really reproduce. If you could compare notes with the author of that ticket and help me figure out what's wrong that would be appreciated.

[2018-05-03 17:33] #1097 closed

[2018-05-03 17:34] eapache commented on #1061
@abjsaha just reported this too, so it's something real even if I still can't reproduce it.

[2018-05-03 17:37] eapache commented on #1090
It's not clear to me how this is a problem? The partition chosen is still valid, consistent, and well-distributed.

[2018-05-03 17:39] eapache commented on #1089
What is the error being returned alongside the `-1`?

[2018-05-03 21:14] bowen-unglue commented on #1089
Thanks so much for replying on this!
As I mentioned on the previous thread, there was no error.  only -1 was return as the offset.

[2018-05-03 21:15] eapache commented on #1090
Ah, this is true... hmm.

The main problem with fixing it is that it's basically a breaking change; we need to maintain the consistency of the hash function between versions for existing users. I think the best we can do is implement a `NewUnsignedHashPartitioner` or something which people can manually configure.

If we ever do a sarama 2.0 with breaking changes we could fix it for the default at

[2018-05-03 22:49] bowen-unglue commented on #1089
Thanks for the suggestion, I will check the broker log and tried local time. I may come back with more questions later.  Hope you don't mind.

[2018-05-04 02:44] catchSora commented on #1094
no，my process just a few days not send msg，other log always output，process not exit

[2018-05-07 14:57] #1095 closed

[2018-05-07 18:48] bowen-unglue commented on #1089
Just come up an strange thought.  Would this due to the consumer have not consumed any of the data and hence can not move the offset backward?

Here is one of the scenario:   Let's say my broker's data retention is 24 hours.  There are producer writing to broker constantly.  Let's say I only start consumer once a week and stop it within one hour.
By the time I start consumer,  all the data in brok

[2018-05-08 12:08] Dieterbe opened #1101 "regression in consumer throughput when upgrading 1.10 to 1.16"
when doing this sarama upgrade:
[code]
and go version go1.10.1 linux/amd64, kafka 0.10.0.1
[code]

and these sarama settings
[code]

we notice a decrease in consumption throughput, by about 10% (600kHz rate to 540kHz rate)
see https://snapshot.raintank.io/dashboard/snapshot/uo11mnUs6T9hlqvUQ0VlxkA71SVlTG1e?orgId=2
notice in particular the upper left chart, which becomes clearer when you zoom in li

[2018-05-08 12:10] Dieterbe commented on #1101
a bit more info here https://github.com/grafana/metrictank/pull/906
I will see if i can find anything in heap and cpu profiles.
i also want to do redo the experiment with some versions in between, to see how recent I can get without hitting the regression.

[2018-05-09 01:35] eapache commented on #1101
Odds are this is due to either https://github.com/Shopify/sarama/pull/933, https://github.com/Shopify/sarama/pull/1028, or the whole abstraction layer that was added to support Kafka 1.0's new record batch former. Whether the regression occurs in 1.13, 1.14, or 1.16 should tell us.

[2018-05-09 08:09] shahidammer opened #1102 "I always get 0 partitions when i call SendMessage(msg). I am specifying 12 via command line"
##### Versions

Kafka Version:  kafka_2.12-1.1.0.tgz
Go Version: 1.9.1

What configuration values are you using for Sarama and Kafka?

[code]
##### Problem Description
I am trying to send a stream of messages on to my Kafka broker, I have 3 nodes as specified and I want the messages to be in 12 partitions, but when I call the SendMessage(msg) it returns 0 partitions, Why is that? why i can not sen

[2018-05-09 12:46] MuhammadSohaib commented on #1102
That means your topic isn't configured with the right number of partitions on the broker. Check your Kafka cluster and see how many partitions that topic actually has.

[2018-05-10 13:45] Dieterbe commented on #1101
https://snapshot.raintank.io/dashboard/snapshot/0nTKuMieusLixFu5rBTm8ZGrMG6fPG0o?orgId=2
this shows 7 runs in this order:
mt-sarama-1.10.1
mt-sarama-1.11.0
mt-sarama-1.12.0
mt-sarama-1.13.0
mt-sarama-1.14.0
mt-sarama-1.15.0
mt-sarama-1.16.0

upper left chart is the most interesting one (consumption rate)
the results are a bit noisy however, i think i will redo them with more data to read out of ka

[2018-05-15 10:17] Dieterbe commented on #1101
another run of the same versions in the same order as before.
now with cpu freq scaling disabled and no_hz full enabled on all cores, to get clearer results.
https://snapshot.raintank.io/dashboard/snapshot/3okjgue0NHhParxUc6ySgYyp1yOuh5de?orgId=2
https://snapshot.raintank.io/dashboard/snapshot/dQY7m1Ei9kjF5kk0mo6OvumDvUzX2WDj?orgId=2
what stands out to me here is that the 4th run (1.13.0) performe

[2018-05-16 10:35] quanhengzhuang opened #1103 "createTopics error "kafka server: The version of API is not supported.""
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version:
Kafka Version:kafka_2.12-1.1.0
Go Version:go1.10.1

##### Configuration

What configuration values are you using for Sarama and Kafka?

##### Logs

When filing an issue please provide logs from Sarama and Kafka if at all
possible. You can set `sarama.Logger` to

[2018-05-22 20:29] Ronin11 opened #1104 "brokerConsumer getting set to nil"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: 3c763ff04e6daa57d4a4614e5bcd908f2527c989
Kafka Version: 2.11-1.0.0
Go Version: go version go1.9.2 darwin/amd64

##### Logs

[sarama]2018/05/22 20:24:47 consumer/test/0 finding new broker
kafka: error while consuming test/0: kafka: tried to use a client that was

[2018-05-23 03:35] pwaterz commented on #726
Same here. Getting about 300 messages every 30 seconds :(. I am running my binaries in a local docker container connecting to kafka hosted in a data center. Maybe docker is the issue?

[2018-05-24 10:43] adwinsky commented on #1087
So it looks like what I experienced is normal behaviour.

Plus also in my scenario it looks like those offsets are missing due to Log Compaction feature I am using.

[2018-05-24 18:33] pwaterz commented on #726
My issue ended up being that I went with the default initial offset. Which is read newest first. Switch oldest and it's super fast now.

config.Consumer.Offsets.Initial = sarama.OffsetOldest

[2018-05-25 06:05] kiro opened #1105 "MaxOpenRequests=1 semantics"
Hi, if we have async producer with MaxOpenRequests=1, does it guarantee that the batches will be delivered in order? E.g. if there is a failure sending a batch it won't try to send the next one?

[2018-05-25 12:31] FrancoisPoinsot opened #1106 "Block when consuming exactly_once topic"
##### Versions

Sarama Version: 3c763ff04e6daa57d4a4614e5bcd908f2527c989
Kafka Version: Client V1_0_0_0 , Server 0.11.0.0
Go Version: 1.10

##### Configuration

	Config.Group.Return.Notifications = true
	Group.PartitionStrategy = StrategyRange
	Group.Offsets.Retry.Max = 3
	Group.Session.Timeout = 30 * time.Second
	Group.Heartbeat.Interval = 3 * time.Second

	Net.MaxOpenRequests = 5
	Net.DialTimeou

[2018-05-29 12:07] Karmadon opened #1107 "It's possible to subscribe to list of topics?"
##### Versions
Sarama Version:1.16.0
Kafka Version:1.1.0
Go Version:10.1

##### Configuration

Standard Configs

##### Problem Description

Apache Kafka docs tells me:
[code]

but how to use it in sarama?

	topic := "Payments" // wanna to use array of topics
	consumer, err := master.ConsumePartition(topic, 0, sarama.OffsetNewest)

[2018-06-04 21:12] tinkerware commented on #1091
As far as I can see, Sarama supports none of these options; as soon as it sees an out of range offset, it closes the message channel of the partition consumer. For comparison, here's what the Java client does:

https://github.com/apache/kafka/blob/837f31dd1850b179918f83338b4b4487486b2c58/clients/src/main/java/org/apache/kafka/clients/consumer/internals/Fetcher.java#L962

It ignores stale offsets s

[2018-06-05 11:20] desilvaNSP opened #1111 "undefined: sort.Slice error"
There is error happen when build sarama

github.com/Shopify/sarama

../../../../workspace/go/src/github.com/Shopify/sarama/delete_records_request.go:96: undefined: sort.Slice
../../../../workspace/go/src/github.com/Shopify/sarama/delete_records_response.go:99: undefined: sort.Slice

[2018-06-05 11:55] #1111 closed

[2018-06-07 16:20] adililhan opened #1113 "Is really documentation enough to use Sarama?"
I've just tried to use Sarama. Even, hello world is unclear in godoc.

2900+ people liked Sarama. is everyone able to use Sarama via its godoc? really?

[2018-06-13 16:15] bai commented on #1113
Documentation is never perfect, you should also look for other projects that use Sarama, e.g. [this](https://github.com/linkedin/Burrow), [this](https://github.com/tcnksm-sample/sarama), [this](https://gist.github.com/nilsmagnus/4b582f9a36279bff5f8f9d453f8fb9c4). Happy to see PRs improving the docs though.

[2018-06-14 16:12] #1087 closed

[2018-06-14 16:32] eapache commented on #1101
Hmm, if you revert https://github.com/Shopify/sarama/pull/1028 (and the follow-up https://github.com/Shopify/sarama/commit/eae91468c24263f06ae73dce45eb26252c73b1d6) does that solve the majority of the regression?

[2018-06-14 16:36] eapache commented on #1102
You need to set `config.Producer.Partitioner = NewManualPartitioner` in order to manually specify the partition value in your `ProducerMessage`.

[2018-06-14 16:36] #1102 closed

[2018-06-14 16:37] eapache commented on #1103
Which request specifically is failing?

[2018-06-14 16:39] eapache commented on #1105
I'm not sure what you mean? Even with the default MaxOpenRequests, sarama guarantees message ordering within a partition: https://github.com/Shopify/sarama/wiki/Frequently-Asked-Questions#does-saramas-producer-guarantee-message-ordering

Message *batches* are entirely dynamic and not reflected to the consumer, so I'm not sure what it would mean for them to also have an order.

[2018-06-14 16:40] eapache commented on #1107
You probably want https://github.com/bsm/sarama-cluster.

[2018-06-14 16:40] #1107 closed

[2018-06-14 16:41] #1113 closed

[2018-06-14 16:44] eapache commented on #1067
With recent kafka versions now using a separate port for secure/TLS connections, defaulting the port becomes even more error-prone, so I don't think there's enough value in us trying to do that.

[2018-06-14 16:44] #1067 closed

[2018-06-14 18:08] eapache commented on #1104
There's nothing in your program to prevent the main thread from exiting, at which point the entire program gets shut down. You'll want to put some code at the bottom of `main()` to wait for some condition before exiting.

[2018-06-14 18:08] #1104 closed

[2018-06-14 19:05] eapache commented on #1094
Do you have any logs from Sarama's logger? I don't know why this would be happening, and without more information I can't debug it.

[2018-06-14 19:09] eapache commented on #1091
Closing the message channel is effectively equivalent to throwing an exception, since Go doesn't have exceptions in a meaningful sense. When this happens, the client is able to call `ConsumePartition` with `OffsetNewest` or `OffsetOldest` in order to achieve the behaviour of the other java config options.

This is only valid behaviour when dealing with consumer-groups, which is something that happ

[2018-06-14 19:10] #1091 closed

[2018-06-14 19:13] eapache commented on #1089
Yes, that's possible. If the broker no longer has any messages around the given timestamp (due to the broker expiring those messages after passing the data retention time) then you will see -1 like this.

[2018-06-14 19:13] #1089 closed

[2018-06-14 20:15] #1106 closed

[2018-06-15 14:50] eapache commented on #1090
Just to follow up: we've already had to adjust this once for different implementations of the absolute-value function (https://github.com/Shopify/sarama/commit/6967cdb516216f65c91b9ae11431901c8b12ecf5).

I would also note that the HashPartitioner code is fairly simple and the interface is public, so you're free to implement the entirely new partitioner behaviour yourself.

[2018-06-15 14:51] #1088 closed

[2018-06-15 15:35] #1074 closed

[2018-06-15 22:43] #1048 closed

[2018-06-16 14:46] catchSora commented on #1094
i‘m not open Sarama's logger

[2018-06-16 16:46] eapache commented on #1094
https://godoc.org/github.com/Shopify/sarama#StdLogger

[2018-06-22 07:50] Karmadon commented on #1107
THX!

[2018-06-24 22:26] vrischmann opened #1119 "async producer crashes with compression enabled"
##### Versions

Sarama Version: 1.17.0
Kafka Version: 0.11.0.2
Go Version: 1.10.3

##### Configuration

Kafka is using the default configuration file in the 0.11.0.2 archive with this added: `message.max.bytes=20971520`

You can find the sarama config in the code: https://github.com/vrischmann/saramabug/blob/simplified/main.go#L20-L30

##### Logs

Using the code above I get variants of this:

[2018-06-24 22:29] vrischmann commented on #1119
well nevermid that, just when I hit send I find my mistake.
Reusing the message like that is the problem.

I was trying to avoid allocating a message every time since in my test it was the same (I'm trying to measure performance) but I guess I can't do that.

[2018-06-24 22:29] #1119 closed

[2018-06-25 06:39] quanhengzhuang commented on #1103
c.Brokers()[0].CreateTopics(request) return error "kafka server: The version of API is not supported"

[2018-06-25 12:47] dynahcatq commented on #1090
Thanks for the feedback. We are now using the entirely new custom hash partitioner in our project.

[2018-06-25 12:47] #1090 closed

[2018-06-25 15:52] eapache commented on #1119
You should be able to re-use a message object once it is returned out of `Successes` or `Errors` but not before, as it tracks some state during the actual produce flow.

[2018-06-25 15:55] eapache commented on #1103
For more recent versions of kafka you may need to set `request.Version` to 1 or 2, as I'm not sure if version 0 is still supported.

[2018-06-25 15:56] eapache commented on #1103
On master Sarama you should just be able to use https://github.com/Shopify/sarama/blob/master/admin.go

[2018-06-25 22:48] gadkrumholz opened #1120 "All the requests in admin.go don't specify a timeout and none is allowed to be set causing them to ErrRequestTimedOut"
##### Versions
Sarama Version: master@46cf3e2cf1acef7876068f66cf69ec31aad2d0b2
Kafka Version: 1.10
Go Version: 1.10

##### Configuration
N/A

What configuration values are you using for Sarama and Kafka?
N/A

##### Logs
N/A

##### Problem Description
When a long-running operation like creating a topic with a lot of partitions and replicasets or when changing a topic's # of partitions (the 2 exampl

[2018-06-26 12:01] vrischmann commented on #1119
Good to know, I'll test that. Thanks.

[2018-06-26 16:17] eapache commented on #1120
I don't think there's an existing config value which makes sense for those timeouts, but I'm happy to take a PR adding one.

[2018-07-02 08:55] ccassar commented on #1045
In the case where compression is enabled the size test coming into async producer in dispatcher() is performed against the uncompressed payload. Is this intentional?

[2018-07-02 13:59] eapache commented on #1045
:thinking: it's been a while but I think it is; if I remember correctly the broker-side check is also against the uncompressed size. Or at least, it was for the older compression formats. It's possible that the new 1.0 record set format changed that?

[2018-07-03 08:23] ccassar commented on #1045
I ran a quick couple of tests and it would seem the broker side uses compressed size for test.

producer messages.max.bytes 20M, compression off, topic created with  max.message.bytes 5M
  msg size of 15M rejected "kafka server: Message was too large, server rejected it to avoid allocation error."

producer messages.max.bytes 20M, compression gzip, topic created with  max.message.bytes 5M
  msg si

[2018-07-03 13:33] asdine opened #1121 "Controller is not available error when using NewClusterAdmin"
##### Versions

Sarama Version: 46cf3e2cf1acef7876068f66cf69ec31aad2d0b2
Kafka Version: 1.1.0
Go Version: 1.10.2

##### Configuration

What configuration values are you using for Sarama and Kafka?
Default

##### Logs

[code]

##### Problem Description
When running `NewClusterAdmin` the error `controller is not available` is returned.

[code]

I tried on a containerized Kafka and locally using the

[2018-07-03 16:05] eapache commented on #1121
Could you add a log line to log `client.controllerID` in `client.cachedController()`? It looks like the broker is returning an ID for a broker which doesn't exist, but I don't want to blame kafka without validating that first.

[2018-07-03 16:13] asdine commented on #1121
Done, here is the output:

[code]

[2018-07-03 16:21] eapache commented on #1121
Oh, you need to set the `Version` property in the Sarama config to tell it that it's running against a Kafka version new enough to support controllers. Sorry that's not obvious from the error message.

[2018-07-03 16:21] #1121 closed

[2018-07-03 16:33] asdine commented on #1121
Thanks, it created another error though:

[code]

The topic is created properly but the call returns an error

[2018-07-03 16:43] asdine commented on #1121
Changing [this line](https://github.com/Shopify/sarama/blob/master/admin.go#L118) by adding a timeout fixed the issue.
The timeout should be passed somehow, i can provide a PR to fix this if you want

[2018-07-03 16:56] eapache commented on #1121
I'd be happy to take a PR for this. https://github.com/Shopify/sarama/issues/1120 has a little more discussion.

[2018-07-04 08:26] dt665m opened #1124 "the new ClusterAdmin's CreateTopic has no timeout setting"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: 46cf3e2cf1acef7876068f66cf69ec31aad2d0b2
Kafka Version:
Go Version:

##### Problem Description

ClusterAdmin's CreateTopic does not populate a sensible timeout or require a timeout in the function signature for the CreateTopicsRequest struct, causing a call to t

[2018-07-04 08:27] #1124 closed, assigned to nobody

[2018-07-06 11:48] JeffreyDing11223 opened #1126 "sarama retries unusable?"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: newest master
Kafka Version: 1.1
Go Version: 1.10

##### Configuration

What configuration values are you using for Sarama and Kafka?

        config := sarama.NewConfig()
	config.Producer.RequiredAcks = sarama.WaitForAll
	config.Producer.Partitioner = sarama.Ne

[2018-07-06 13:53] eapache commented on #1126
Please set `sarama.Logger` and provide that output. Without it I cannot debug.

[2018-07-07 05:37] JeffreyDing11223 commented on #1126
#### Thank for replying.
I used `sarama.Logger.PrintLn()` , but it did not display any output in the console. So I still used fmt.PrintLn() to replcae it.

#### My codes are very simple:
[code]
start kafka -----> start the program-----> the first msg succeed-----> shut down kafka----->after about 25 seconds , the second msg failed----->about 10 seconds later (let second msg retry at least once) ,

[2018-07-07 05:44] JeffreyDing11223 commented on #1126
#### this is my log output which is  corresponding to the above process.
[code]

the `this is a message 0706 13:40:00` is the second msg

[2018-07-09 13:01] eapache commented on #1126
Sorry, I wasn't clear. You need to *set* `sarama.Logger`, not *call* it. Something like
[code]
Then it will give you logs from Sarama internal state which will help me debug.

[2018-07-10 02:11] JeffreyDing11223 commented on #1126
#### Thanks.
Here are the sarama logs:
[sarama]      2018/07/10 10:06:22 Initializing new client
[sarama]      2018/07/10 10:06:22 ClientID is the default of 'sarama', you should consider setting it to something application-specific.
[sarama]      2018/07/10 10:06:22 ClientID is the default of 'sarama', you should consider setting it to something application-specific.
[sarama]      2018/07/10 10:0

[2018-07-10 19:38] eapache commented on #1126
Per these logs, the issue is because it isn't the producing that fails; you have only one broker and when you shut down the broker Sarama is unable to retrieve metadata. This uses a separate retry loop (`config.Metadata.Retry`) which you will need to change as well to account for this case.

Usually with Kafka clusters this isn't an issue because even when nodes go away Sarama can get metadata fro

[2018-07-10 19:38] #1126 closed

[2018-07-12 02:37] JeffreyDing11223 commented on #1126
Thanks.
Consequently, if there is only one broker and this broker is down, the Sarama can't resend message, can it ?

[2018-07-12 12:43] eapache commented on #1126
If there is only one broker and that broker is down, nobody can do anything because the "entire cluster" has become unreachable.

[2018-07-13 16:19] Preylien opened #1130 "No topics returned on successive refreshing of full metadata on versions >= 0_10_0_0"
##### Versions

Sarama Version: commit on master: 5cd4d8675b3b11c08e71529e7280c45f9fc3dafe
Kafka Version: 0.10.1.0 & 1.1.0
Go Version: 1.10.3

##### Configuration

	config.Consumer.Return.Errors = true
	config.ClientID = "consumer-test"
	config.Metadata.RefreshFrequency = time.Duration(2) * time.Second
	config.Metadata.Full = true
	config.Version = sarama.V0_10_0_0

##### Logs

[code]

##### Probl

[2018-07-13 17:44] Preylien commented on #1130
I accidentally fat fingered the close issue button, my bad

I wanted to add details about the kafka instance. I'm using this docker image with none of the settings in it changed: https://hub.docker.com/r/spotify/kafka/

[2018-07-14 05:15] shanson7 opened #1131 "Consider allowing callers to return Message objects for reuse"
##### Versions

Sarama Version: 1.16.0
Kafka Version: 1.1.0
Go Version: 1.9.2

##### Problem Description

Not so much a problem, but sarama is the source of most of the memory allocations in our project. This is not too surprising, as we are processing ~30k (small) messages per second.

Here is the top alloc_space after about 4 hours of running.
[code]

I believe that with some small tweaks to all

[2018-07-14 18:55] eapache commented on #1130
I can't imagine this is causing the bug, but refreshing the metadata every two seconds is massive overkill, the kafka metadata isn't going to change nearly that often.

Otherwise, I'd suggest putting some more logging in `updateMetadata` in `client.go`. That's the place I would expect something to be going wrong, unless this is strictly an upstream kafka bug.

[2018-07-14 18:57] eapache commented on #1131
That's a great idea and makes a lot of sense; I'd be happy to take PRs to this effect.

[2018-07-16 20:00] Preylien commented on #1130
@eapache I did some more debugging and was looking into the request that is sent to kafka.

I noticed that the metadata requests looked similar but after looking at the encoded bytes here they differed between the first and all subsequent requests.
https://github.com/Shopify/sarama/blob/5cd4d8675b3b11c08e71529e7280c45f9fc3dafe/broker.go#L570

I dug into the encode functions and found this IF state

[2018-07-16 20:12] eapache commented on #1130
I think this is correct, thanks for digging!

[2018-07-16 23:40] Renjuju opened #1133 "ls"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version:
Kafka Version:
Go Version:

##### Configuration

What configuration values are you using for Sarama and Kafka?

##### Logs

When filing an issue please provide logs from Sarama and Kafka if at all
possible. You can set `sarama.Logger` to a `log.Logger` to captur

[2018-07-16 23:40] #1133 closed

[2018-07-18 01:22] KamranMaharov opened #1134 "HighWatermark method of PartitionConsumer is not consistent???"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: latest
Kafka Version: 0.10.2.1
Go Version: go1.9.2 linux/amd64

##### Configuration

What configuration values are you using for Sarama and Kafka?
Everything is default.
Kafka is being launched inside a Docker Container (exactly as it is explained here):
https:/

[2018-07-18 03:26] zs1503 opened #1135 "I can not find "github.com/eapache/go-resiliency/breaker" can you give me a link"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version:
Kafka Version:
Go Version:

##### Configuration

What configuration values are you using for Sarama and Kafka?

##### Logs

When filing an issue please provide logs from Sarama and Kafka if at all
possible. You can set `sarama.Logger` to a `log.Logger` to captur

[2018-07-18 03:27] zs1503 opened #1136 "I can not find "github.com/eapache/go-resiliency/breaker",can you give me a link"
I  can not  find  "github.com/eapache/go-resiliency/breaker",can  you   give me a link

[2018-07-18 08:00] gmanolache commented on #810
Encountered this issue also.

The problem was the payload size that was bigger than the kafka max size flag: `message.max.bytes: 1000012` (around 1MB)
Ended up increasing the kafka flag and all works well.

Cheers

[2018-07-18 18:09] varun06 commented on #1134
What do you mean by `historically last message pushed to kafka`?

`HighWatermark` indicates the offset of messages that are fully replicated to ISR's, also a consumer can only consume messages up to the high watermark.

in your code, before consuming any message, your partition consumer has a high water mark of 0.

But once you consumed messages, you consumer gets to high water mark and returns 7.

[2018-07-19 13:34] #1130 closed

[2018-07-19 13:47] eapache commented on #1135
The repo is at https://github.com/eapache/go-resiliency/

The specific subfolder is at https://github.com/eapache/go-resiliency/tree/master/breaker

[2018-07-19 13:47] #1135 closed

[2018-07-19 13:52] eapache commented on #1134
This is an unfortunate side-effect of the fact that the consumer has to exchange at least one message with the broker in order to fetch the HighWatermark value, so it will always return zero until the first message is consumed. After that it will always be consistent.

As far as I know, Kafka does not provide any way to determine the HighWatermark value without consuming at least one message.

[2018-07-19 15:25] rfyiamcool opened #1137 "raise error sort slice"
Raise error happen when build my project.

../../../../workspace/go/src/github.com/Shopify/sarama/delete_records_request.go:96: undefined: sort.Slice
../../../../workspace/go/src/github.com/Shopify/sarama/delete_records_response.go:99: undefined: sort.Slice

[2018-07-19 15:26] #1137 closed, assigned to nobody

[2018-07-19 15:44] varun06 opened #1138 "Question - closing async producer just after publish loop don't return all the success results?"
##### Problem Description
If I close async producer just after publish, number of success is not equal to number of publishes. Do I have to wait for successes to show up?

[code]

[2018-07-19 16:41] eapache commented on #1138
`Close()` is synchronous and will capture anything that might have gone our of `Errors()` or `Successes()`. You want `AsyncClose()` instead, which will work correctly with the way you are using the `WaitGroup`.

[2018-07-19 16:41] #1138 closed

[2018-07-19 17:39] KamranMaharov commented on #1134
I see.
Thank you.
Let me explain why it is important in our case.
The thing is, our service writes its state to the kafka topic, and different topics were getting used for each run of the service. Sometimes service crashes and we re-launch it with the same topic to restore its state.
Upon initialization, we are checking whether or not it is a restart based on the topic content. If topic has any re

[2018-07-19 19:44] eapache commented on #1134
Oops, my previous comment with no solution was incorrect. As far as I know, `GetOffset` with `OffsetNewest` will always return the correct `HighWatermark`. You should be able to use that call without problems.

[2018-07-19 22:20] KamranMaharov commented on #1134
I see, thanks.

Does it look possible to make `HighWatermark` return the correct value without consuming from the topic? `GetOffset` returns the `LogEndOffset` which is not always the same as `HighWatermark` according to Kafka.

Thank you.

[2018-07-20 16:03] eapache commented on #1134
Not that I know of.

Where does it say that?

[2018-07-20 19:20] KamranMaharov commented on #1134
https://stackoverflow.com/questions/39203215/kafka-difference-between-log-end-offsetleo-vs-high-watermarkhw
https://www.confluent.io/blog/hands-free-kafka-replication-a-lesson-in-operational-simplicity/

[2018-07-21 11:58] wvanbergen commented on #868
There is nothing special about this API. You call `Topics()` and you get a list of topics back. There is no feature to notify you of newly created topics. Kafka 0.8, for which this client was written, does not have an API for that.

I think newer versions of Kafka have APIs for this, but in the Kafka 0.8 world you need to set a Zookeeper watch to be notified of new topics. Kazoo is a library that

[2018-07-24 10:02] andy2046 opened #1139 "Request exceeded the user-specified time limit in the request"
### Versions

Sarama Version: latest
Kafka Version: kafka_2.11-1.1.0
Go Version: 1.10

### Configuration

#### Kafka config:
`
I  	background.threads = 10

I  	broker.id = 1

I  	broker.id.generation.enable = true

I  	broker.rack = null

I  	compression.type = producer

I  	connections.max.idle.ms = 600000

I  	controlled.shutdown.enable = true

I  	controlled.shutdown.max.retries = 3

I  	contro

[2018-07-24 10:33] andy2046 commented on #1103
@eapache I tried to use the new admin.go NewClusterAdmin but got `kafka server: Request exceeded the user-specified time limit in the request.`

[2018-07-26 10:08] adwinsky commented on #1045
I think it is done like this because there is no efficient way to determine the size of the raw data after the compression, which you need to know in advance to spawn a new messages buffer in brokerProducer worker when it exceeds max message limit.

But this is not a big problem. In case you use compression and this limit, you can just make it 2-3 times larger (as the average compression rate), an

[2018-07-26 15:08] adwinsky opened #1140 "Producer doesn't respect MaxMessageBytes limit for uncompressed requests"
##### Versions

Sarama Version: 5cd4d8675b3b11c08e71529e7280c45f9fc3dafe
Kafka Version: 1.1.0
Go Version:  1.10.2

##### Configuration

Version = "1.1.0"
Producer.MaxMessageBytes = 100000
Producer.Flush.Frequency = 5 * time.Second

##### Problem Description

After I set Producer.Flush.Frequency config variable, my consumer started to throw following error:

I also noticed that this issue doesn't h

[2018-07-27 17:56] eapache commented on #1136
Duplicate of https://github.com/Shopify/sarama/issues/1135.

[2018-07-27 17:56] #1136 closed

[2018-07-27 17:57] eapache commented on #1139
Duplicate of https://github.com/Shopify/sarama/issues/1120

[2018-07-27 17:57] #1139 closed

[2018-07-27 18:04] eapache commented on #1140
I'm a bit confused; `MaxMessageBytes` is the per-*message* limit, already enforced at the beginning of the flow at https://github.com/Shopify/sarama/blob/c5b44e38e1ca1b27bcaa35d908f161b690ea72e0/async_producer.go#L278-L281

The code you're referencing is checking against message *batches*; the only reason that applies at all for compressed messages is that old versions of Kafka do this dumb thing

[2018-07-28 04:39] andy2046 commented on #1120
@eapache do you think adding Cluster Timeout into existing Config is the right way to solve this? or you have better idea, I'd like to raise a PR for this

[code]

[2018-07-28 15:30] eapache commented on #1120
Something like that. I could see an argument for putting this value under `Metadata`, or for creating a new `Admin` struct in config. The name `Cluster` on its own isn't specific enough for me.

[2018-07-29 05:06] andy2046 commented on #1120
@eapache Thanks for the advise, I raised a PR [1142](https://github.com/Shopify/sarama/pull/1142) with new `Admin` struct. please help to review and comment, thanks.

[2018-08-01 04:41] ratishr opened #1143 "Error handling for SSL connection issue"
Currently Sarama has generic error for the connection issues.

{"level":"error","ts":1533097892.1910856,"msg":"failed to start client","type":"module","coordinator":"cluster","class":"kafka","name":"local","error":"kafka: client has run out of available brokers to talk to (Is your cluster reachable?)"}

The connectivity issue could be network issue, ACL issue, SSL negotiation etc. Above snippet is

[2018-08-01 06:08] ratishr commented on #1143
At kafka side, the error is

**[2018-07-31 23:07:46,924] DEBUG [SocketServer brokerId=0] Connection with /0:0:0:0:0:0:0:1 disconnected due to authentication exception (org.apache.kafka.common.network.Selector)
org.apache.kafka.common.errors.SslAuthenticationException: SSL handshake failed
Caused by: javax.net.ssl.SSLException: Unrecognized SSL message, plaintext conne**

[2018-08-02 01:51] GoingFast opened #1144 "Error when consuming: error decoding packet: CRC didn't match expected 0x0"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: e7238b119b7daab993720f0153eafb88e2b0ac1f
Kafka Version: 2.0.0
Go Version: 1.10.1

##### Configuration
Kafka is Wurstmeisters docker image file, nothing besides env variables changed.

Sarama SyncProducer for producing and consumer no configuration. Just NewConsu

[2018-08-02 12:32] eapache commented on #1144
🤔 I haven't had a chance to try against Kafka 2.0 yet, they've probably changed something in the protocol that's causing this, but I can't find any documentation on what API changes are included in this version...

[2018-08-03 03:53] yusufsyaifudin commented on #1144
I got same issue when using this version https://github.com/Shopify/sarama/releases/tag/v1.17.0 [35324cf48e33d8260e1c7c18854465a904ade249](https://github.com/Shopify/sarama/commit/35324cf48e33d8260e1c7c18854465a904ade249) and the latest tags of [wurstmeister/kafka docker](https://hub.docker.com/r/wurstmeister/kafka/tags/). I try to use 2.11-0.11.0.2 tags and now it works. Maybe someone can explain

[2018-08-03 23:54] mdubbyap opened #1145 "async producer not continuing to retry on errors updating the leader"
##### Versions

Sarama Version: 1.17
Kafka Version: 0.9.0.1
Go Version: 1.10.3

##### Configuration

	c.Net.MaxOpenRequests = 5
	c.Net.DialTimeout = 30 * time.Second
	c.Net.ReadTimeout = 30 * time.Second
	c.Net.WriteTimeout = 30 * time.Second
	c.Net.SASL.Handshake = true

	c.Metadata.Retry.Max = 3
	c.Metadata.Retry.Backoff = 250 * time.Millisecond
	c.Metadata.RefreshFrequency = 10 * time.Minute
	c

[2018-08-06 07:34] neqel commented on #1057
Are there any plans on implementing support for this yet?

[2018-08-06 08:39] boyunzheyue2 opened #1146 "client has run out of available brokers to talk to (Is your cluster reachable?)"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: 46cf3e2
Kafka Version: kafka:2.12-1.0.1
Go Version: 1.9.2

##### Configuration

conf.Producer.RequiredAcks = sarama.WaitForAll
conf.Producer.Retry.Max = 3
conf.Producer.Return.Successes = true
conf.Producer.Timeout = time.Second * 5

##### Logs

[sarama] 2018/08

[2018-08-07 09:26] 39Er commented on #1144
I got the same issue. Version: 2.11-2.0.0.
![image](https://user-images.githubusercontent.com/12530172/43767120-ce74da6a-9a66-11e8-9639-88a6deebdd39.png)

[2018-08-07 13:28] Karmadon commented on #1144
I got the same issue. Version: 2.12-2.0.0.
Any News?

[2018-08-07 13:41] eapache commented on #1145
Retries are already happening in that case internal to the metadata update controlled by the `c.Metadata.Retry` config entries. Retrying again at the producer layer would I think be more confusing.

[2018-08-07 13:42] eapache commented on #1057
I'm not working on this in the foreseeable future. I'm happy to take PRs though.

[2018-08-07 13:44] eapache commented on #1146
If two can connect and one cannot, then the problem is not with Sarama but probably with the network configuration of the one that can't connect.

[2018-08-07 13:44] #1146 closed

[2018-08-07 15:28] bhand-mm commented on #1140
@eapache That code seems very strange to me.  Why is `version` (a number that can be expected to be either 1 or 2 in that scope) being compared to `p.conf.Producer.MaxMessageBytes`?

[2018-08-07 15:44] adwinsky commented on #1140
@eapache I thought that MaxMessageBytes is an equivalent of max.message.bytes Kafka config variable which is clearly referencing to the batch size. At least in the Kafka docs, it is mentioned that since 0.11.0.0 this is the case.

How else I would be able to control the size of the batch in Sarama? In my example the problem is when I set Flush.MaxMessages config setting, which is leading to sendin

[2018-08-07 17:13] mdubbyap commented on #1145
My concern is that the messages are dropped (or at least returned on the error channel) before their retries are done. Sometimes immediately with no retries at all.  I see no evidence that they're retried later.  Are you telling me they are retried again after the metadata update is completed successfully?

[2018-08-07 18:49] eapache commented on #1145
No, I mean the metadata update itself is retried several times within the call to `refreshMetadata`.

[2018-08-08 09:44] programmer4m commented on #858
Am facing similar kind off error :

WARN kafka message: client/metadata got error from broker while fetching metadata:%!(EXTRA sarama.PacketDecodingError=kafka: error decoding packet: message of length 1213486160 too large or too small)
any known solution or reason for this ?

[2018-08-08 09:53] programmer4m opened #1147 "sarama.PacketDecodingError=kafka : error decoding packet: message of length 1213486160 too large or too small"
Kafka Version:2.12
Go Version: 1.10.3

##### Problem Description

I find this in the log , no other issues found .
WARN kafka message: client/metadata got error from broker while fetching metadata:%!(EXTRA sarama.PacketDecodingError=kafka: error decoding packet: message of length 1213486160 too large or too small)

In detail log :

WARN kafka message: Initializing new client
WARN client/metadata f

[2018-08-08 16:57] wladh commented on #1144
I'll take a look tomorrow.

[2018-08-09 20:47] mdubbyap commented on #1145
Again, my concern is the messages being dropped and not retried...

[2018-08-09 21:12] eapache commented on #1145
There's no functional difference between retrying the message (which would get to the same spot and fail the same way on the same metadata refresh) and just retrying the metadata refresh directly. The latter is much simpler so it's what I did.

[2018-08-10 09:22] yuz11 opened #1148 "Should add read timeout duraling SASL auth"
in this method,u haven't set read timeout before io.ReadFull. It may cause the connection block waiting there,when the network is bad(I have this problem now and then...)

[code]

[2018-08-10 14:20] wladh commented on #1147
Might be a dup of #1144
There's no Kafka: 2.12, do you mean Kafka 2.0 compiled with Scala 2.12?

[2018-08-11 11:26] firnsan commented on #838
@eapache Hi, I have some question, can you help me to clear?

I don't understand why ordering is kept when messages must be retried? Like this:
![image](https://user-images.githubusercontent.com/3955815/43991235-13807830-9d9b-11e8-8bcd-78d42a30116f.png)
When batch 3 is found timeout, the batch 4 is in flight (and is acked), so retry batch 3 result in [1,2,4,3,5,...] be written in kafka. This reord

[2018-08-11 20:48] eapache commented on #838
Sarama avoids this case because it will never send a new batch (4) until after it has received the ack for the previous batch (3). So 4 will not be in flight.

Sarama does not currently support this case. However, it might be possible to add some sort of workaround. I would be willing to consider pull requests adding such a feature.

[2018-08-12 05:48] firnsan commented on #838
Nice, thanks ! May be i will  raise a pull request if i have pretty workaround.

[2018-08-13 07:28] sundy-li commented on #1144
I meet the same problem, kafka 2.0 version
[code]

[2018-08-13 16:18] shanson7 commented on #1131
Excellent. So, I staged and tested such a change using a sarama global channel-based leaky buffer. It was pretty effective, but I was hindered by the fact that a large amount of the memory is actually used by the decoded messageSet/Block and each message actually refers to that larger underlying memory. Bookkeeping around when it is safe to reuse that larger chunk of memory would likely be overkil

[2018-08-13 18:47] zhoubowen-sky commented on #1144
kafka: error decoding packet: CRC didn't match expected

[2018-08-13 23:32] mdubbyap opened #1150 "List of brokers not refreshed from zookeeper"
##### Versions

Sarama Version: 1.17
Kafka Version: 0.9.0.1
Go Version: 1.10.3

##### Configuration

c.Net.MaxOpenRequests = 5
c.Net.DialTimeout = 30 * time.Second
c.Net.ReadTimeout = 30 * time.Second
c.Net.WriteTimeout = 30 * time.Second
c.Net.SASL.Handshake = true

c.Metadata.Retry.Max = 3
c.Metadata.Retry.Backoff = 250 * time.Millisecond
c.Metadata.RefreshFrequency = 10 * time.Minute
c.Metadata

[2018-08-16 07:35] wangxiangyu opened #1151 "memory usage extremely high"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version:

574d3147eee384229bf96a5d12c207fe7b5234f3

Kafka Version:
0.10.0
Go Version:
go1.10.3
##### Configuration

What configuration values are you using for Sarama and Kafka?
I am using "github.com/bsm/sarama-cluster" to consume kafka and very simple configuration.
[c

[2018-08-20 02:28] sundy-li commented on #1144
@eapache   I think there is no  big API change on kafka 2.0, because we use old c++ client `librdkafka`, it still works fine on kafka 2.0. So I think maybe there is something implements missed by sarama client.

Do you have any plan to fix this issue? We really wants to use Go code to read datas from the kafka 2.0. Thank you.

[2018-08-21 15:58] dnwe opened #1153 "ClusterAdmin swallows TopicError ErrMsg"
##### Versions

Sarama Version: e7238b119b7daab993720f0153eafb88e2b0ac1f
Kafka Version: 1.1.1
Go Version: go1.10

##### Configuration

N/A

##### Logs

N/A

##### Problem Description

The `ClusterAdmin` interface added under https://github.com/Shopify/sarama/pull/1055 provides an administrative client for Kafka similar to the official Java client based on design discussions under https://github.co

[2018-08-21 16:07] dnwe commented on #1153
Returning the full TopicError would allow type inference to extract the kError and errMsg separely if that's appropriate too

[2018-08-23 16:25] varun06 opened #1157 "Question: fewer successes while using Close() on async producer"
Versions
Sarama Version: e7238b1
Kafka Version: 1.1.1
Go Version: go1.10

Configuration
N/A

Logs
N/A

##### Problem Description
Why don't we wait for success channel to drain before returning.
https://github.com/Shopify/sarama/blob/master/async_producer.go#L214-L219

In our testing we regularly get fewer successes(with no error) while using Close() on asynproducer.

[2018-08-24 10:39] kjelle opened #1158 "Allow the Consumer to disable auto-commit offsets"
##### Versions

Sarama Version: v1.17.0
Kafka Version: 2.2.0
Go Version: go1.10

##### Configuration

Not applicable

##### Logs

Not applicable

##### Problem Description

I have a scenario where I want to use the PartitionManager in Sarama, but disable the auto commit of offsets. I use the MarkOffset to calculate `lag` in my consumer.  I also see from a google search there are others with simila

[2018-08-27 21:11] thomaslee opened #1159 "Release for #1144"
Howdy -- not sure what the typical release cycle looks like, but just wanted to put my vote in to ship a new release for https://github.com/Shopify/sarama/issues/1144 now that Kafka 2.0.0 has shipped. We're currently working around this by pinning ourselves to master, but would prefer to target a "real" release.

[2018-08-30 09:48] gecube commented on #1144
I believe that this issue had to be re-opened.

[2018-08-30 10:07] wladh commented on #1144
Why? Are you still seeing the issue on master?

[2018-08-30 10:12] bai commented on #1159
Hey -- I'll cut the release early next week.

[2018-08-30 15:26] thomaslee commented on #1159
Great news, thanks very much!

[2018-08-31 07:52] catchSora commented on #1094
I add log to project but this problem not happen

[2018-08-31 07:52] #1094 closed

[2018-08-31 13:33] fcantournet commented on #1145
Hum, yeah... this just cost me 2 days :sweat_smile:
So for what it's worth I find the current behavior of not retrying messages after the metadata fetch retry succeeded to be counter intuitive.
It wasn't intuitive to any of the devs/SRE I talked about it either, as all of them actually assured me of the opposite.
I think this shouldn't be the default behavior, but if it has to stay this way, it wo

[2018-09-03 08:11] fatkun opened #1162 "ClusterAdmin should reconnect broker after disconnected"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: 647feef69a1a7e0e23cccceeb786176bc4fcf5ea
Kafka Version: 1.1.0
Go Version:1.10.3

##### Configuration
[code]

##### Logs

##### Problem Description

code: https://github.com/knative/eventing/blob/master/pkg/buses/kafka/bus.go

reporduce step
1. new clusterAdmin
2

[2018-09-03 09:00] dalegaard commented on #1140
@eapache the 0.11.0.0 changelog has this entry which may be relevant:
```The broker configuration max.message.bytes now applies to the total size of a batch of messages. Previously the setting applied to batches of compressed messages, or to non-compressed messages individually. <snip>```

[2018-09-04 00:15] kchristidis commented on #665
Apologies for a reviving a 2-year old thread, butI'm reasonably certain I bumped into this issue the other day. Even though it is not treating the root cause, would there be interest in a PR that has the client choosing a random seed broker (as opposed to [the first one in the list](https://github.com/Shopify/sarama/blob/master/client.go#L518))? Otherwise, the client is stuck on the same broker, t

[2018-09-04 20:14] jessicaxiejw commented on #1159
up this^

[2018-09-05 10:16] kjelle opened #1163 "Cannot find package "github.com/pierrec/lz4/v2/internal/xxh32""
##### Versions

Sarama Version: v1.17.0
Kafka Version: 2.2.0
Go Version: go1.10

##### Configuration

N/A

##### Logs

`
go get -v github.com/Shopify/sarama
github.com/pierrec/lz4 (download)
package github.com/pierrec/lz4/v2/internal/xxh32: cannot find package "github.com/pierrec/lz4/v2/internal/xxh32" in any of:
        /usr/local/go/src/github.com/pierrec/lz4/v2/internal/xxh32 (from $GOROOT)

[2018-09-05 12:52] ackratos commented on #718
did we have conclusion here?

[2018-09-05 14:11] vaijira commented on #1163
Another workaround: https://github.com/pierrec/lz4/issues/33#issuecomment-418701621 until fix

[2018-09-05 15:19] guiburi commented on #1159
up this^

[2018-09-05 22:25] chandradeepak commented on #1162
@fatkun , are you expecting the functionality where we close broker connection when an error happens as described in #866 to be there in cluster Admin also so that it can be used for further create topic ?

[2018-09-06 20:36] kjelle commented on #1163
The breaking change was reverted: https://github.com/pierrec/lz4/commit/bb6bfd13c6a262f1943c0446eb25b7f54c1fb9a2

Closing this issue

[2018-09-06 20:36] #1163 closed

[2018-09-06 20:41] kjelle commented on #1158
A possibly better approach would be to check for `Consumer.Offsets.Enable` in https://github.com/Shopify/sarama/blob/v1.17.0/offset_manager.go#L445 so we do not tamper with the `bom.timer` but only block the `OffsetCommitRequest` as long as `Consumer.Offsets.Enable` is set.

I could prepare a PR

[2018-09-07 04:02] stackeric commented on #1159
up this^

[2018-09-07 06:10] bai commented on #1159
Here we go: https://github.com/Shopify/sarama/releases/tag/v1.18.0. Apologies for the delay, got overwhelmed and haven't had time to compile changelog.

[2018-09-07 06:10] #1159 closed

[2018-09-07 06:51] thomaslee commented on #1159
Not at all, appreciate it. Thank you!

[2018-09-11 23:35] neosab commented on #1162
For me, the error gets resolved during the next cluster metadata refresh but ideally I would expect this to happen when an error occurs while creating the topic.

[code]

[2018-09-12 00:14] kirandvrs commented on #1144
Yes, the issue is still occurring..

2018-09-11 15:51:00.1713392 -0700 MST m=+0.042083301 kafka: error while consuming important/0: kafka: error decoding packet: CRC didn't match expected 0x0 got 0xe38a6876
2018-09-11 15:51:02.177953 -0700 MST m=+2.048722001 kafka: error while consuming important/0: kafka: error decoding packet: CRC didn't match expected 0x0 got 0xe38a6876
2018-09-11 15:51:04.1842

[2018-09-12 00:15] kirandvrs commented on #1144
Yes..The issue is still occurring from master..
2018-09-11 15:51:00.1713392 -0700 MST m=+0.042083301 kafka: error while consuming important/0: kafka: error decoding packet: CRC didn't match expected 0x0 got 0xe38a6876
2018-09-11 15:51:02.177953 -0700 MST m=+2.048722001 kafka: error while consuming important/0: kafka: error decoding packet: CRC didn't match expected 0x0 got 0xe38a6876
2018-09-11 15

[2018-09-12 20:41] kirandvrs commented on #1144
I dont think the issue exists with the latest master code...Its working...Consumer is able to receive the message produced...log below from consumer output...

2018-09-12 13:40:30.5469877 -0700 MST m=+0.075200201 Received messages  Something Cool

[2018-09-15 14:45] joshua-rutherford opened #1168 "AsyncProducer rejects messages at high rates..."
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: 1.15.0
Kafka Version: 0.10.2.1
Go Version: 1.10.3

##### Configuration

[code]

##### Logs

No logs from Sarama or Kafka that provide details on the issue.

##### Problem Description

When we publish two messages to the same producer in rapid succession the seco

[2018-09-17 11:45] harshitdx29 commented on #1144
Hi,

I am getting the following error:

kafka: error decoding packet: CRC didn't match. Can someone help? Let me know if any other information is required.

[2018-09-17 14:54] kirandvrs commented on #1144
Plz get the updated latest code ..issue will be solved

On Mon, Sep 17, 2018 at 4:45 AM Harshit Gupta <notifications@github.com>
wrote:

--
kiran...........

[2018-09-17 15:37] joshua-rutherford commented on #1168
Closing as this issue is with our use of Sarama, not Sarama itself.

[2018-09-17 15:37] #1168 closed

[2018-09-19 12:36] Dieterbe opened #1171 "should kafka 0.10 work with sarama v1.18 ?"
Hi sarama friends,
we're currently running kafka 0.10 and sarama v1.16 but we have to upgrade to kafka 2.0 because we were struck by some clustering bugs that are fixed in 2.0

since each sarama release only supports a range of kafka versions which is narrower than the 0.10->2.0 range, i have the choice between turning this into 2 separate kafka upgrades, or first running kafka 0.10 with sarama v1

[2018-09-19 12:46] eapache commented on #1171
I can't think of a reason why it wouldn't work, but I haven't tried it, so "should" is the right word.

[2018-09-19 12:59] Dieterbe commented on #1171
thanks @eapache
can you confirm what's the oldest version supported by v1.18? the readme says 0.11 but that doesn't seem to match with what's in the travis config,which says 1.0.0

[2018-09-19 13:04] eapache commented on #1171
I think the README is just stale. 1.0.0 is the oldest CI-tested version. I would expect 0.8.2+ to still work though since Kafka itself is pretty backwards-compatible and Sarama hasn't removed support for any of the old message types.

[2018-09-20 09:35] dgsb commented on #1145
Hello, can we have a status on this issue ? Is a fix planned ?

[2018-09-27 18:16] ebati opened #1177 "Update package doc"
##### Problem Description

With #1099  merged package doc should remove reference to sarama-cluster as it is removed from `Consumer` struct documentation.

[2018-09-27 20:29] varun06 commented on #1177
Also it will be helpful to have documentation and examples related to consumer-group ported to sarama too.

[2018-10-01 09:29] Nesze opened #1179 "Builds with CGO_ENABLED=0 are failing"
##### Versions

Sarama Version: 74799833f433718a70bfd6fea1d1cc2d55ef6f37
Kafka Version:
Go Version: go1.11 darwin/amd64

##### Configuration

What configuration values are you using for Sarama and Kafka?

##### Logs

[code]

##### Problem Description

We build all our code in alpine with cgo disabled. Since recent commit `6bfdd61781f74c235e05b72e41308561394b8232` introduced `github.com/DataDog/zst

[2018-10-02 00:36] muirdm opened #1181 "Consumer group offset can reset during rebalance if underreplicated"
##### Versions

Sarama Version: 74799833f433718a70bfd6fea1d1cc2d55ef6f37
Kafka Version: 1.0, 2.0
Go Version: 1.11

##### Problem Description

If you have underreplication for whatever reason (e.g. publishing messages at sarama.WaitForLocal instead of WaitForAll), a rebalance can end up resetting a consumer group partition offset back to the initial position. This happens when you consume up to, sa

[2018-10-02 18:12] #1179 closed

[2018-10-06 17:05] GrigoriyMikhalkin opened #1186 "MaxMessageBytes config works only if set in both Kafka and Sarama"
##### Versions

Sarama Version: f21e149e5948e9c9b9034f1a19f430d62e00c4d3
Kafka Version: 2.0.0
Go Version: 1.10

##### Configuration

Producer.MaxMessageBytes = 20000000

##### Problem Description

I'm playing with http server from `example` directory, trying to send file contents(about 20MB) to kafka producer. It seems, that I need to set both `message.max.bytes` param in config for Kafka server a

[2018-10-08 15:01] varun06 commented on #1186
Yeah, we also faced same issue recently and that's what it was about. Reading suggest that it is an expected behavior.

[2018-10-08 21:51] muirrn opened #1187 "Producer deadlock"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: f21e149e5948e9c9b9034f1a19f430d62e00c4d3
Kafka Version: 1.0
Go Version: 1.11

##### Problem Description

We ran into a producer deadlock which lead to OOM. Looking at a goroutine pprof:

[code]

You can see brokerProducer.run calls handleResponse calls handleSuc

[2018-10-08 22:22] muirdm opened #1188 "Consumer group partitions always wait for slowest partition"
We ran into an issue where our consumer group started falling behind on some topics. We had one consumer group servicing multiple topics. We found that sarama suffers from "naughty neighbor" between all partitions the consumer is subscribed to. If there is one slower partition (either because it is slower, or because it just has more work), all partitions must wait for the slow partition to finish

[2018-10-09 12:37] eapache commented on #1188
Are you looking for the `Consumer.MaxProcessingTime` config? I believe lowering that does what you want.

[2018-10-09 21:52] muirrn commented on #1188
Thank you for responding. We already have MaxProcessingTime configured appropriately. The issue in sarama stems from the fact there is a single event loop per consumer per broker (pasted below).

It fetches data for all partitions/topics, kicks off processing in separate goroutines, waits for all to finish, then handles errors and fetches the next batch of data. Consider what happens if you have 8

[2018-10-11 09:52] andy2046 commented on #1120
@eapache should we close this issue?

[2018-10-13 02:34] sanchitlohia-ovo commented on #39
@eapache How can I reread the same batch again

[2018-10-15 07:27] july2993 commented on #838
@firnsan
do you have had any workaround yet? i want to avoid batch missing too.

i think i can set `config.Producer.Retry.Max` to a pretty high value like 1000, and `config.Producer.Retry.Backoff` = 1 second,  and stop producer when some msg not success before 1000 second like 100 second, but this is ugly.

[2018-10-15 19:04] varun06 opened #1192 "getting i/o timeout error when using sarama consumer group"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: v1.19.0
Kafka Version: v2.0
Go Version: v1.11

##### Problem Description
Getting i/o timeout error from broker when using consumer group.

[code]

Error is returned from https://github.com/Shopify/sarama/blob/master/broker.go#L592

Note: same kafka cluster is wo

[2018-10-16 16:53] abarrios1 opened #1194 "GetBlock returns nil when trying to get offsets"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: v1.19.0
Kafka Version: v2.0
Go Version: v1.11

##### Configuration

[code]

##### Logs

Checking offset blocks
map[snmp_traps:map[8:0xc422e5d8e0 11:0xc422e5d940 17:0xc422e5da00 19:0xc422e5da40 2:0xc422e5d820 4:0xc422e5d860 12:0xc422e5d960 13:0xc422e5d980 18:0xc4

[2018-10-17 10:19] firnsan commented on #838
@july2993
not very good workaround: When procuder find acked msg's offset is not sequential, just exit program and restart  to scan kafka to find out what have missed, and continue to produce from it .
1,2,4 (exit, start, scan), 3, 4, 5...

[2018-10-17 11:07] july2993 commented on #838
i think the Offset of msg can still be sequential if some msg send to Input() fail to push to kafka, but we can detect if some msg lost from Error() of check if msgs return from Successes() in the sequence as you sent to Input()

this look like must done by application level(like assign a increase by one ID to msg Value)

[2018-10-18 21:47] harshach commented on #1181
@muirrn isn't consumer reading till the high-watermark so that means the data is available in replica too.
This should only happen if you have unclean.leader.election.enable set to true , is that the case in your cluster?

[2018-10-18 22:05] muirrn commented on #1181
It isn't in our server config so it should be false by default for our version of kafka.

I think the issue is the consumer group reads the group's offset from the group's coordinator broker, but `chooseStartingOffset` compares that offset to the "newest" offset fetched via `GetOffset`, which fetches the offset from the partition's leader, not the group's coordinator. Since it is a different broke

[2018-10-19 00:01] chandradeepak commented on #1162
@bai  @fatkun ,  what do you think about this issue. Shall we implement a retry mechanism for the cluster Admin so that if topic creation fails it waits for the connectivity to be recovered and tries to create topic again?

[2018-10-19 07:07] heppu opened #1197 "Building fails on windows with race flag"
##### Versions

Sarama Version: 1.19.0
Go Version: go1.11 windows/amd64

##### Go env
[code]

##### Logs
[code]

##### Problem Description

When building package which imports sarama on windows with race flag using Go 1.11 build fails. I wasn't able to reproduce this with linux+go 1.11 or windows+go 1.10.

Command to reproduce:
[code]

Test case to reproduce:
[code]

[2018-10-23 11:54] rabbitstack commented on #901
I'm also interested about transactional features. Any plans to deliver them in near future?

[2018-10-24 07:38] apetruhin commented on #1187
We faced the same issue. Producing stuck forever on retries.
Rollback to v1.19.0 fixed it.

[2018-10-24 17:32] muirrn commented on #1187
@edoardocomar do you have an idea of how to fix this? If no one wants to fix it we should consider reverting the changes on master as this is a showstopper bug.

[2018-10-25 02:55] sathibault commented on #1147
We are experiencing this same error in production with:
Kafka 2.0.0
Sarama: 1.19.0

Brokers are configured with KAFKA_COMPRESSION_TYPE: "lz4"

[2018-10-25 03:05] sathibault opened #1199 "error decoding packet: message of length 104857903 too large or too small"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: 1.19.0
Kafka Version: 2.0.0
Go Version: 1.10.1

##### Configuration

Consumer config:
config.Version = sarama.V1_1_0_0
config.Metadata.Full = true
config.Consumer.Return.Errors = true
config.Consumer.Fetch.Default = 20000000
config.ChannelBufferSize = 1024

Brok

[2018-10-26 19:48] robertPiro commented on #1192
We're experiencing the same problem and cranked up the time outs. It did not resolve the issue. It looks like a connectivity issue, though we are experiencing the same problem on serval deployments which excludes that this is hardware related. We are getting stuck in a loop of rebalances.

Sarama v1.19.0
Sarama Cluster v2.1.15
Kafka v2.0.
Go v1.11

Reverting Sarama v1.17 did not help.

[2018-10-28 09:02] edoardocomar commented on #1187
I was away for some days - I will look into this, thanks for reporting

CC @mimaison

[2018-10-29 17:07] mimaison commented on #1187
@muirrn @apetruhin where you running with `Config.Producer.Idempotent` enabled?

[2018-10-29 17:49] muirrn commented on #1187
Nope.

[2018-10-30 07:40] apetruhin commented on #1187
No.
Our config if it helps. Nothing changed except new sarama from master.
[code]

[2018-10-30 10:47] huangyiminghappy commented on #1199
i have found the same error

[2018-10-30 16:12] edoardocomar commented on #1187
@muirrn @apetruhin - thanks so much for the report. We have been able to reproduce.
We agree that now the master branch is broken with the changes for the idempotent producer:

1. there is the deadlock that you experienced
1. we tried a couple of fixes to that - which fail the true idempotent case as there is a race condition between new batches being produced and batches being retried which may l

[2018-10-30 17:51] mimaison commented on #1187
@muirrn @apetruhin We've opened a PR which should fix this issue. It would be great if you could give it a try and confirm this is the case.

[2018-10-30 19:00] sathibault commented on #1199
We've worked around this issue by setting:
[code]

[2018-10-31 01:28] KamranMaharov opened #1204 "70% of messages corrupted with AsyncProducer."
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: Tested with both 1.15.0 and 1.19.0
Kafka version : 0.10.2.1
Go Version: go1.9.2 linux/amd64

##### Configuration

Default configuration using `sarama.NewConfig` method, and
only enabling success channel for AsyncProducer additionally.

##### Logs
Don't see anyth

[2018-10-31 03:57] huangyiminghappy opened #1205 "sarama can not support consumer message In some cases"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version:1.19.0
Kafka Version:0.10.2.0
Go Version: 1.11.1

##### Configuration

What configuration values are you using for Sarama and Kafka?
in kafka broker i use this configuration in server.properties(my kafka version is 0.10.2.0):
inter.broker.protocol.version=0.10.2.

[2018-11-01 09:49] PChou opened #1206 "10KiB is not enough for async produce overflow protection when MessageSet contains many messages"
##### Versions

Sarama Version:e7238b119b7daab993720f0153eafb88e2b0ac1f
Kafka Version: 0.10.2.1
Go Version:1.10.3 linux/amd64

##### Problem Description

I am trying to test the benchmark of async producer, but i found many encoding errors as follows:

[code]

This is triggered by `prep_encode` which is used to calculate the size of the final packet before real memory allocation, but found overflo

[2018-11-01 15:02] abrosimov opened #1207 "What is the best way to distinguish type of log messages (error, debug, etc.) in sarama logs"
Unfortunately I didn't found any place where I can ask about impl details

##### Problem Description
Current version of sarama.StdLogger supports only Print* methods for error logging, but automated error log collecting systems can not distinguish what type have messages in log (error, debug, info, etc). For example:
"consumer/broker/%d disconnecting due to error processing FetchRequest: %s" is er

[2018-11-02 16:05] varun06 opened #1208 "Question - context aware api for ConsumerGroupHandler api"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version:v1.19
Kafka Version:1.2
Go Version: v1.11

##### Problem Description
to get context to consumer group claim, I have to do something like
[code]
embedding context to a struct is frowned upon, can we have a context aware api ->  https://github.com/Shopify/sarama/bl

[2018-11-05 02:16] WandyLau commented on #272
I think this may be a bug of Kafka. I got the same situation with @kris-nova. Kafka just fails to elect a new leader. So the connection of Sarama is disconnected. And this problems just happened suddenly.

[2018-11-05 10:42] roxit commented on #1192
I experienced perhaps the same problem. One consumer instance using the ConsumerGroup API is fine, but when I tried to start another instance, the other instance got the same error and could not join the group.

Sarama v1.19.0
Kafka 1.1.0
Go v1.10.3

Solved the problem by watching `ConsumerGroupSession.Context().Done()` as well in `ConsumeClaim`.
The comment at https://github.com/Shopify/sarama/bl

[2018-11-05 15:14] matzew commented on #1162
just running into this as well: https://github.com/knative/eventing/pull/468

[2018-11-12 16:34] varun06 opened #1212 "High rate of producer errors with async producer"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version:1.19
Kafka Version:0.11
Go Version:1.11

##### Problem Description

I have been getting a lots of producer errors with aysnc producer. The message size if 2KB but kafka is erring out with "kafka server: Message was too large, server rejected it to avoid allocatio

[2018-11-14 01:28] egor2d commented on #1212
I have had the same issue one day. My understanding is that it is not related to an individual message but rather to a batch of messages. Kafka default is 1Mb as far as I remember, so I have increased  it to 20Mb in Kafka but I found out that you also need to increase in the producer code with config.Producer.MaxMessageBytes = 20000000.
`    config := sarama.NewConfig()
	config.Net.SASL.Enable = t

[2018-11-14 08:49] DeathKR opened #1213 "Partition difinite compatibility with librdkafka"
##### Versions

Sarama Version: All
Kafka Version: All
Go Version: All

##### Problem Description

We are using Sarama for golang and Confluentinc/confluent-kafka-dotnet (bindings to librdkafka) for C#. We see a diference in partition definition. Librdkafka use crc32, i wrote CustomHashPartitioner, code:

`
	crc32q := crc32.MakeTable(crc32.IEEE)

	hasher:= func() hash.Hash32 {
		return crc32.New(c

[2018-11-14 15:42] natdm opened #1214 "Mocks should be more conditional?"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: f3f4f5f1acf1a26acb582cfb158c2433f37288b4
Kafka Version: N/A
Go Version: 1.11

##### Problem Description

I'm writing tests for a wrapper on the Sarama package, and I'm using `sarama/mocks` to assist. It seems like you're not really able to send multiple messages

[2018-11-14 22:47] varun06 commented on #1212
Did that help you, coz only thing that works for me is https://github.com/Shopify/sarama/blob/master/sarama.go#L92

[2018-11-15 03:23] ncastagnoli opened #1215 "Link to DataDog/zstd breaks Cygwin"
##### Versions

Sarama Version: Checkin e42dc76c4e0af and later
Kafka Version: N/A
Go Version: go version go1.9 windows/amd64
--

##### Configuration

##### Logs

$ go build                                                                                                                                                                          # github.com/mistsys/location/dtest

[2018-11-15 03:29] ncastagnoli commented on #1215
Sorry, I wrote the version wrong zstd was added in:

49c4c9a35917a18e15b9f0706f9dc91f6f07a89b
--

[2018-11-15 13:57] nrvnrvn opened #1216 "Error codes are missing in the list of error codes"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: ec843464b50d4c8b56403ec9d589cf41ea30e722
Kafka Version: 1.1.1
Go Version: 1.11

##### Configuration

What configuration values are you using for Sarama and Kafka?

##### Logs

When filing an issue please provide logs from Sarama and Kafka if at all
possible. You

[2018-11-16 08:22] mengqinglai opened #1219 "memory leak when using go-metrics"
https://github.com/Shopify/sarama/blob/cebb5847efade319a00e1888acfd8bcdb393e478/broker.go#L108

b.incomingByteRate is inited by NewMeter, b.incomingByteRate.Stop() should be called when Broker was closed.

[2018-11-20 10:36] firnsan opened #1220 "Is there a need to close Client when NewConsumerFromClient failed？"
https://github.com/Shopify/sarama/blob/cebb5847efade319a00e1888acfd8bcdb393e478/consumer.go#L88-L100

Hi.
Above is the code of func NewConsumer. I have a question, if NewClient succeed but NewConsumerFromClient failed later, is there a need to close Client just created？

[2018-11-21 11:43] danpmx opened #1221 "commit offset manually when using consumer group"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version:1.19.0
Kafka Version: 0.10.2.1
Go Version:1.10

##### Configuration

What configuration values are you using for Sarama and Kafka?

##### Logs

When filing an issue please provide logs from Sarama and Kafka if at all
possible. You can set `sarama.Logger` to a `lo

[2018-11-22 08:41] githubgaohang commented on #1126
the version of kafka is not matched

[2018-11-26 13:10] ggrcha opened #1223 "SASL/OAUTHBEARER authentication for Kafka 2.0"
**Versions**
Sarama Version: cebb5847efade319a00e1888acfd8bcdb393e478
Kafka Version: 2.0
Go Version: v1.11.1

**Problem Description**

As said by @mkmkaminski1988 on confluent-kafka-go#247, it would be important to have the OAUTHBEARER mechanism for authentication on Kafka brokers. Today, only Java clients can take advantage of this functionality, as edenhill/librdkafka still doesn't have SASL/OAU

[2018-11-26 13:37] lechnertech opened #1224 "Async Producer Hang"
##### Versions

Sarama Version: cebb584
Kafka Version: 2.0.0
Go Version: 1.11

##### Configuration

Producer.Return.Errors = true
Producer.Return.Successes = true
Producer.RequiredAcks = sarama.WaitForLocal
ClientID = "somestring"
Version = sarama.V2_0_0_0

##### Logs

No logs found

##### Problem Description

I am running a process that produces messages to a to multiple topics and receives from

[2018-11-27 06:49] july2993 commented on #1224
do you consume from Success() and Errors(), if not, it will be blocked

[2018-11-27 07:12] july2993 opened #1225 "consumer: batch record number >2*math.MaxUint16 leads to error decoding packet: invalid array length"
##### Versions

Sarama Version:
1.18
Kafka Version:
2.0.0
Go Version:
1.11
##### Configuration

What configuration values are you using for Sarama and Kafka?
sarama
[code]

##### Logs

When filing an issue please provide logs from Sarama and Kafka if at all
possible. You can set `sarama.Logger` to a `log.Logger` to capture Sarama debug
output.

sarama
maybe cause by here https://github.com/Shopify

[2018-11-27 12:43] lechnertech commented on #1224
Yes, both successes and errors are consumed.  Here is the what the mail loop looks like

[code]

[2018-11-28 03:13] varun06 commented on #1220
Don't think you should be worried about that, if call to that function fail, you don't get access to client anyway(not exported in this case). your application stops and everything is cleared out.

[2018-11-28 22:56] freddiesunarso commented on #1057
@eapache would you give some pointer/guidance on how to add this support?

[2018-12-02 04:49] firnsan commented on #1220
What if the application is long time running service, if that function fail,  the application chooses to retry (automatically or manually)?  I think in this case  there is no way to release to socket, goroutine or other resources under the Client.

[2018-12-06 03:50] sukkiCat commented on #737
Hi chandradeepak,
I'm currently facing the same issue as you mention. I'm working on a recommendation engine api and every request must be write into kafka for etl processing.
In order to improve api qps performance, i must find some way to improve the performance of kafka producer. Can you give me some advice， such as do I need create a connection pool to execute producing action or create a new

[2018-12-07 16:37] danmia opened #1233 "async producer panic: slice bounds out of range"
##### Versions

Sarama Version: [cebb584](https://github.com/Shopify/sarama/commit/cebb5847efade319a00e1888acfd8bcdb393e478)
Kafka Version: 2.0.0
Go Version: 1.11

##### Configuration

What configuration values are you using for Sarama and Kafka?
Producer.Return.Errors = true
Producer.Return.Successes = true
Producer.RequiredAcks = sarama.WaitForLocal
ClientID = "prod"
Version = sarama.V2_0_0_0

#

[2018-12-11 09:12] #1187 closed

[2018-12-11 21:02] saswatp opened #1235 "How to consume after recovery"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version:

Kafka Version:
10.0
Go Version:
1.11

##### Configuration

What configuration values are you using for Sarama and Kafka?

(struct { Group struct { Session struct { Timeout time.Duration }; Heartbeat struct { Interval time.Duration }; Rebalance struct { Strategy

[2018-12-12 22:07] KamranMaharov commented on #1140
I ran into the same issue. This is especially relevant when messages we push to Kafka topic have a huge variance in size. As an example, let's say one message is 0.5 MB and another message is 100 bytes.

Kafka server says that

With `Producer.Flush.MaxMessages` we can have upper bound on number of messages in a single batch, (asserted this using sarama metrics, thanks for this functionality), but

[2018-12-12 23:07] KamranMaharov commented on #1140
Does sarama currently have guaranteed way to enforce maximum `total byte size of the payload` for the batch messages (without using global config `sarama.MaxRequstSize`, because it is going to enforce maximum size not only for Produce API)?
I don't know the answer, and highly appreciate your help in this.

Thanks.

[2018-12-13 23:00] varun06 commented on #1235
hmm, So if you have a producer producing messages to kafka, and then the producer go down for some reason, and then you/automation restart producer, it will start from the next offset in that particular topic, right. You don't have to do anything special (as long as you don't have any other producer producing to the same topic).

It is bit different in case of consumer as if a consumer go down, pr

[2018-12-16 14:55] PoacherBro opened #1237 "Consumer Group has no response (rebalance notified) for added partition during runtime while producer is ok"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: 1.19.0
Kafka Version: 1.1.0
Go Version: 1.11.2

##### Configuration

What configuration values are you using for Sarama and Kafka?
- Kafka is default setting, no change
- Sarama: use `ConsumerGroup` API, specify oldest kafka version is **0.10.2**, metadata refre

[2018-12-18 03:12] DoubleLuck opened #1238 "How to change replication-factor of topic"
Hi all, I try to use sarama to increase replication-factor of topic , but didn't success, I need your help.

##### Versions

Sarama Version: 97315fefd9d1a91fbc682c52c44fcb490fa5c6e7
Kafka Version: 1.0.0 (scala 2.12)
Go Version: 1.11 (windows/amd64)

##### Configuration

Sarama Config: `config.Version = sarama.V1_0_0_0`
Kafka Config: **3** brokers on local CentOS, id : 0 , 1, 2
Topic Info:  **test4

[2018-12-21 20:12] saswatp commented on #1235
Hi @varun06 - Thanks for the response and my apologies for the late reply. I did some more searching and looks like I need to move to sarama-cluster to get the functionality I am looking for. consumer group is needed to keep track of the last offset and that's something supported in sarama cluster.

[2018-12-21 21:53] varun06 commented on #1235
Hey, so yeah, but you don't need sarama-cluster for that anymore. sarama-cluster is deprecated and cosnumer group is available in sarama itself. check -> https://github.com/Shopify/sarama/blob/master/consumer.go

[2018-12-21 22:30] ggrcha commented on #1223
Having some issues on this implementation:

- I successfully authenticate via OAUTH and the kafka broker finishes de SASL process (DEBUG Set SASL server state to COMPLETE)

- After that, I have an EOF exception and I can't figure it out what is missing.

While testing de SASL Plain authentication, did anyone got some similar issue?

Thanks.

[2018-12-25 09:47] royantman opened #1241 "newConsumerGroupSession initialization slowness with thousands of partitions"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: v1.20.0
Kafka Version: 2.0.0
Go Version: 1.11

##### Configuration

What configuration values are you using for Sarama and Kafka?

##### Logs

Logless parts of the implementation

##### Problem Description
Hello there.
ConsumerGroupSession initialization with ma

[2018-12-26 16:54] varun06 commented on #1241
I kind of predicted that and I guess your best bet is to get a PR up(you already know what needs to be done). I can also help as I might have same issue soonish.

[2018-12-27 21:44] AlmogBaku opened #1245 "Create a consumer group with initial offset earliest"
Is there a way to specify that when you "start a new consumer group", it's offset will be the earliest?

CC @dim

[2018-12-27 22:07] AlmogBaku commented on #1245
Found it, the way to configure this is by setting ```cfg.Consumer.Offsets.Initial = sarama.OffsetOldest```

[2018-12-27 22:07] #1245 closed

[2018-12-29 17:37] usernameisnull opened #1246 "when use govendor async_producer.go:177:12: undefined: RecordHeader"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version:
Kafka Version:
Go Version:
go version go1.9.7 linux/amd64
##### Configuration

What configuration values are you using for Sarama and Kafka?
##### Logs
go build
vendor/github.com/Shopify/sarama/async_producer.go:177:12: undefined: RecordHeader

When filing an is

[2018-12-30 07:09] usernameisnull commented on #1246
I think it's my problem

[2018-12-30 07:09] #1246 closed

[2018-12-30 17:31] alexisvisco commented on #715
The link is dead, maybe there is a new solution to this ?

[2019-01-03 11:12] nitin302 opened #1247 "how to limit number of partitions assigned to consumer"
For Kafka, partitions provide a way for consumption to scale. Hence, it is necessary that consumers needs to scale horizontally as well.

Is there any way to limit number of partitions per consumer, so that we can add more consumers so that all partitions are assigned to one of the consumers (total consumers * partitions per consumer = total partitions of the topic)? How can I do this?

What shoul

[2019-01-03 16:04] varun06 commented on #1247
You can have as many consumers as there are partitions, going over that is not advisable. in terms of limit, if you have 10 partitions, you can spin two costumers in a group and that will give you 5 partitions each per consumer.

Let me know if that answers your questions, or I am off by long stretch?

[2019-01-04 08:56] jeffwidman opened #1248 "Website is outdated"
https://shopify.github.io/sarama/ says:

Those versions are outdated. In fact the current Readme says:

So I think the website just needs to be updated to match the readme... I tried to submit a PR, but couldn't find the source code of that webpage.

[2019-01-05 06:28] giautm opened #1249 "Refactor code to support more SASL (as Dialer?)"
Hi, I think the `net.Conn` can be inited by custom Dialer to support more SASL without touch into sarama core?

https://github.com/Shopify/sarama/blob/bb6b5baaf18c899a7bab84baf62f3f6a2716b24f/broker.go#L92-L96

https://github.com/Shopify/sarama/blob/bb6b5baaf18c899a7bab84baf62f3f6a2716b24f/broker.go#L127-L140

[2019-01-07 15:31] varun06 commented on #1249
@giautm can you please elaborate more? if it is not much work, PR is also welcome.

[2019-01-08 01:19] yyn1110 opened #1250 "async_producer.go:482 panic"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version:1.20.0
Kafka Version:0.10
Go Version: 1.10

##### Configuration

What configuration values are you using for Sarama and Kafka?
Kafka configuration use username and password
Sarama configuration is

var url string
var username string
var password string

func Init

[2019-01-11 00:50] yyn1110 commented on #1250
sorry  I made a mistake

[2019-01-11 00:50] #1250 closed

[2019-01-11 15:45] akrennmair opened #1252 "Sending messages with ZStd compression enabled fails in multiple ways"
##### Versions

Sarama Version: v1.20.1
Kafka Version: 2.1.0 (Scala version 2.12)
Go Version: 1.11.4

##### Configuration

What configuration values are you using for Sarama and Kafka?

Kafka configuration:
[server.properties.txt](https://github.com/Shopify/sarama/files/2750161/server.properties.txt)

##### Logs

[code]

##### Problem Description

I created a minimal test case to reproduce the iss

[2019-01-12 09:44] imumesh18 opened #1253 "How to consume from multiple topics?"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version:
Kafka Version:
Go Version:

##### Configuration

What configuration values are you using for Sarama and Kafka?

##### Logs

When filing an issue please provide logs from Sarama and Kafka if at all
possible. You can set `sarama.Logger` to a `log.Logger` to captur

[2019-01-14 00:50] kishoregv opened #1254 "How to stop looping over consumer group when an unrecoverable error occurs in ConsumerGroupHandler?"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: 03a43f93cd29dc549e6d9b11892795c206f9c38c
Kafka Version: 2.11.0
Go Version: 1.11

##### Configuration

What configuration values are you using for Sarama and Kafka?

##### Logs

When filing an issue please provide logs from Sarama and Kafka if at all
possible. Yo

[2019-01-14 15:04] kishoregv commented on #1253
To my knowledge, In Kafka world topics own partitions.
I guess your scenario is there are two topics *ABC* and *XYZ* from both the topics you want to read a partition with ID *N*.

You can create a [Consumer](https://github.com/Shopify/sarama/blob/master/consumer.go#L51) with multiple topics, and filter the partitions you are interested in.

[2019-01-15 22:25] varun06 commented on #1252
I am also getting 'InvalidRecordException: Produce requests with version 3 are note allowed to use ZStandard compression'
will have a look around tomorrow.

[2019-01-15 22:48] kchristidis opened #1255 "Return zookeeper.connect value to sarama client?"
Assume I have:
1. The address of a Kafka broker
2. A sarama [Client](https://godoc.org/github.com/Shopify/sarama#Client)

Can I use the Client to get the address of the ZooKeeper node that my broker is connected to?

As best as I can tell the answer is no, but I'd like to verify that.

If there is another way I should be going at it, please let me know. Thanks!

[2019-01-15 23:15] bobrik commented on #1252
I added support for zstd before Kafka added it. In further discussions Kafka developers apparently decided to bump protocol version to allow zstd compression. See logic in this file:

* https://github.com/apache/kafka/pull/2267/files#diff-a7cb05b8e918d46d237683e0f02756b9

I think Sarama needs to mimic the same behavior, probably somewhere here I guess:

* https://github.com/Shopify/sarama/blob/0a2

[2019-01-16 02:50] varun06 commented on #1252
Ah, thanks a lot. I will get the PR soon.

[2019-01-17 06:38] zimin2000 opened #1259 "LogAppend timestamp support"
##### Versions

Sarama Version: eae91468c24263f06ae73dce45eb26252c73b1d6
Kafka Version: 1.0.0
Go Version: go1.11.2

##### Configuration

The only really important configuration is
[code]

##### Logs

N/A

##### Problem Description

At this stage the problem seems to be identified and fixed. The PR is https://github.com/Shopify/sarama/pull/1258 .  The description of how problem reveals itself is th

[2019-01-17 15:35] varun06 commented on #1259
@zimin2000 is it related to https://cwiki.apache.org/confluence/display/KAFKA/KIP-32+-+Add+timestamps+to+Kafka+message?

trying to understand the functionality before reviewing code.

[2019-01-17 17:15] zimin2000 commented on #1259
Yes, KIP-32 introduced 2 types of timestamps (`CreateTime` and `LogAppendTime`) and the later does not seem to be supported. From the [page]( https://cwiki.apache.org/confluence/display/KAFKA/KIP-32+-+Add+timestamps+to+Kafka+message):
[code]
The code is essentially supporting it taking pythons implementation for the reference.

[2019-01-18 01:09] pradeepkusingh opened #1260 "How to get the stats"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: latest
Kafka Version: 2.1
Go Version: 1.11

##### Configuration

What configuration values are you using for Sarama and Kafka?

##### Logs

When filing an issue please provide logs from Sarama and Kafka if at all
possible. You can set `sarama.Logger` to a `log.L

[2019-01-22 23:11] varun06 commented on #1260
Sarama expose metrics using https://github.com/rcrowley/go-metrics and metrics are defined in
https://github.com/Shopify/sarama/blob/master/metrics.go

[2019-01-23 16:28] nsd20463 opened #1261 "renaming ErrXxx constants is an API changing change"
FYI commit 04e4286cc194cd39150d98dcaf7e399601febf5f breaks [my] code because it removes several public ErrXxx names.

Perhaps this is deliberate, though strange in a tagged "1.something" repo. Or it's an accident and you meant to keep the old names around too.

[2019-01-23 16:35] bai commented on #1261
cc: @nrvnrvn @varun06

[2019-01-23 16:36] bai commented on #1261
Yep, this is a valid degradation.

[2019-01-23 16:42] varun06 commented on #1261
ouch, can we please create a release and mention the breaking api change part. Will be more careful in future for these changes.

[2019-01-23 16:46] bai commented on #1261
I'm revering the PR in https://github.com/Shopify/sarama/pull/1262 on 🍏. Sorry for the trouble and thanks for reporting!

[2019-01-23 19:21] nsd20463 commented on #1261
Thanks.

[2019-01-23 19:21] #1261 closed

[2019-01-24 01:02] pradeepkusingh opened #1263 "How to do the LAG check and get Consumer group owner client id and hosts?"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: Latest
Kafka Version: 1.11
Go Version: 1..11

##### Configuration

What configuration values are you using for Sarama and Kafka?

##### Logs

When filing an issue please provide logs from Sarama and Kafka if at all
possible. You can set `sarama.Logger` to a `log

[2019-01-24 20:28] timoha opened #1264 "SyncProducer.SendMessages: handleSuccesses is attempting to send on nil expectation chan"
##### Versions

Sarama Version: 1.12
Kafka Version: 2.0.0
Go Version: 1.11.4

##### Configuration
sarama:
[code]
broker:
[code]

##### Logs

[code]

##### Problem Description

We had some instability in our cluster which caused some of the brokers' zookeeper leases to expire (unfortunately don't have logs anymore, might be able to get some again). This lead to sarama.SyncProducer.SendMessages() to

[2019-01-25 12:08] pradeepkusingh commented on #915
@joelpresence  I am also looking for same details. Can you please post here?

[2019-01-25 19:40] saswatp commented on #1235
Thanks Varun . I will close the issue.

[2019-01-25 19:40] #1235 closed

[2019-01-28 16:02] saad-karim opened #1265 "Unexpected error message in metadata request"
##### Versions

Sarama Version: v.1.19.0
Kafka Version: 1.0.0
Go Version: v1.11.1

##### Configuration

What configuration values are you using for Sarama and Kafka?

Brokers: 3
Minimum ISR: 2
Replication factor : 3

##### Logs

N/A

##### Problem Description

I have 3 brokers and a topic with a replication factor of 3 and a minimum ISR value of 2. I bring down 2 brokers and issue a metadata reque

[2019-01-28 19:14] timoha commented on #1264
Indeed just caught `ProducerMessage` with `fin` flag set and `expectation` channel being nil:
[code]
This seems like a bug: if control messages are returned, they can falsely cause assumption of success.
Would filtering all of messages that have `flags != 0` be a right fix or the problem is somewhere deeper and they shouldn't even be making it to this point?

[2019-01-28 19:23] eapache commented on #1264
This. Seems like a weird state-machine bug. From this most recent occurrence can you provide a bit more log history for `producer/leader/postdb_v1/11` specifically. What were its state transitions prior to `[flushing-1]`?

[2019-01-28 19:56] timoha commented on #1264
Right before `[flushing-1]`:
[code]

[2019-01-28 22:38] ggrcha commented on #1223
@mkaminski1988 yes I did!!! Great job! It works like a charm :)

Closing the isue.

[2019-01-28 22:38] #1223 closed

[2019-01-29 07:41] helayzhang commented on #466
@wvanbergen @eapache

I have met a problem recently. My kafka has disabled automatic topic creation, once a lot of illegal
 messages try to write to a not exist topic, `circuit breaker` is soon opened, then other legal messages will be dropped also.

I'm confusing that in which case `UnknownTopicOrPartition` may be temporary, so we need `circuit breaker` to solve this? Hope you to help me understa

[2019-01-29 10:24] pragmaticpi commented on #901
Hi, I was going through the sarama godoc as I am trying to implement exactly once semantics.
So, using `Config.Idempotent.Producer` to enable Idempotency is correct?

Also, is the transactional API feature has been enabled in the library as I am seeing multiple transactions related variables?

[2019-01-29 19:35] mantzas opened #1266 "[Question] Consumer group topology changes"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: v1.20.1
Kafka Version: confluentinc/cp-kafka       latest (5.1.0 )
Go Version: 1.14

##### Configuration

##### Question 1

If the topic changes topology (increase and decrease of partitions) does sarama consumer group follow these changes? Does the same happen

[2019-01-29 20:12] timoha commented on #1264
Tried to follow the logs and code. It looks like there's a race condition as broker 1 was closing and opening at the same time.

`fin` message has `retries: 1`, which means `highWatermark` was 2 (https://github.com/Shopify/sarama/blob/master/async_producer.go#L550). Which corresponds to:
[code]
So this leaked `fin` message was due to broker 1. And it was sent to `bp.input` channel.

Then, I notice

[2019-01-29 20:34] mantzas commented on #1266
Hi, unfortunately the code is in a private repo but i made a gist with everything in it. https://gist.github.com/mantzas/dbd5a26c91bcadc2f778d8aa05c907f7
Code is a quick and dirty implementation and might have issues.

[2019-01-31 13:36] enrmarc commented on #1057
Hi. What's the status of the SASL/SCRAM support?

[2019-02-01 16:35] pradeepkusingh commented on #1260
Do we have any better example or code?

[2019-02-01 16:38] varun06 commented on #1260
Check that out -> https://godoc.org/github.com/Shopify/sarama#example-Config--Metrics

[2019-02-06 18:30] dhbarman opened #1269 "How to get consumer metrics ?"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version:

Top of the tree - master

Kafka Version:

 ./bin/kafka-topics.sh --version
2.0.0 (Commit:3402a8361b734732)

Go Version:

go version go1.11 darwin/amd64

##### Configuration

What configuration values are you using for Sarama and Kafka?

##### Logs

When filing

[2019-02-07 13:05] rafaelzimmermann commented on #1205
This is caused by a bug on Kafka that incorrectly calculates the header checksum.
https://issues.apache.org/jira/browse/KAFKA-3160

[2019-02-07 14:53] ebati opened #1272 "Go module support"
CI tests with the latest available packages as it does `go get`. However, since those versions are not recorded, the versions of dependencies this library is tested against is unknown to users of this library.

Is it OK if I send PR for dependency management with go modules.

[2019-02-07 22:33] varun06 commented on #1269
Sarama only exposes Broker and Producer related metrics.

Can you please elaborate on your second question.

[2019-02-07 22:33] varun06 commented on #1272
Please do.

[2019-02-07 22:34] varun06 commented on #1260
Did that resolve your issue? also sarama only exposes producer and broker metrics.

[2019-02-08 09:01] rafaelzimmermann commented on #1205
We can see here https://patch-diff.githubusercontent.com/raw/apache/kafka/pull/1212.patch that, on Kafka client implementation, they added a flag to ignore the HC checksum.

More details on lz4 frame format here:
https://github.com/lz4/lz4/blob/master/doc/lz4_Frame_format.md

[2019-02-08 15:58] varun06 opened #1276 "Working with consumer group claims in parallel using goroutines"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version:
Kafka Version:
Go Version:

##### Configuration

What configuration values are you using for Sarama and Kafka?

##### Logs

When filing an issue please provide logs from Sarama and Kafka if at all
possible. You can set `sarama.Logger` to a `log.Logger` to captur

[2019-02-08 22:15] weeco opened #1278 "OffsetRequest / OffsetResponse should contain offset type"
I ommited the required issue fields (sarama, kafka version etc) as they are most likely not relevant for this issue.

**Use case**

I am writing a kafka prometheus exporter where I need to get all partition offsets. Therefore I am sending `OffsetRequest` with lots of requests to each broker. Specifically I am interested in the oldestOffset **and** newestOffset and here comes the problem. I put the

[2019-02-11 06:47] huangyiminghappy commented on #1205
thank you

[2019-02-11 11:25] dim commented on #1276
@varun06 sorry, that's not right as `ConsumeClaim` is run in separate goroutines, hence all you need is:

[code]

The only thing to be careful of is that `publisher.Publish` is thread-safe. The `ClusterConsumer` will create a goroutine for each of the claims and messages will be processed in multiple goroutines by default. If you need to scale and increase parallelism, just increase the number of

[2019-02-11 16:38] varun06 commented on #1276
thanks for clarification. I also reached at same conclusion. I will also look at documentation and see if I can add something based on this convo.

[2019-02-11 16:40] #1276 closed

[2019-02-11 16:44] varun06 commented on #1278
Hmm, can you use highwatermark to figure that out? I am trying to figure out the use case also interested in you reproter, is it going to be open sourced?

[2019-02-11 22:30] ariasf opened #1279 "Error creating producer"
##### Versions

	"GoVersion": "go1.6",
	"GodepVersion": "v79"

	"ImportPath": "github.com/Shopify/sarama",
	"Comment": "v1.20.1-28-g0a21d90",
	"Rev": "0a21d90df4f6266fdf28d603e5ef91f2426c362a"

        "ImportPath": "github.com/bsm/sarama-cluster",
	"Comment": "v2.1.8-16-g96ddfcd",
	"Rev": "96ddfcd36f56f11fc80ff0d466128c1825ace08a"

        "KAFKA_VERSION"="2.1.0"  (Confluent Kafka)

##### Configu

[2019-02-12 01:09] sahilchug commented on #1279
[code]

@ariasf You will need to set version explicitly and more options in Producer and Net properties of Config

[2019-02-12 01:23] dhbarman commented on #1269
Hi,

If you consider the following two metrics -
   incoming-byte-rate . (Bytes/second read off all brokers)
   incoming-byte-rate-for-broker-<broker-id> . (Bytes/second read off a given broker )

Is there any relationship with any kafka consumer which is consumer data off the cluster or a particular broker ?

[2019-02-12 01:53] ariasf commented on #1279
@sahilchug   Thanks a lot declaring the version fix the problem! Thanks

[2019-02-12 08:01] weeco commented on #1278
Not really because I want to get the oldest and newest offset requests in parallel. The exporter is supposed to fetch the latest metrics on every scrape, therefore I want to run as many requests as possible concurrently.

Yes indeed the exporter is open source, but it's still under development: https://github.com/google-cloud-tools/kafka-minion . I am currently working on TLS support so that it ca

[2019-02-12 09:56] #1254 closed

[2019-02-12 13:53] varun06 commented on #1278
Interesting, I will have a look at code today to make sense of it. On a cursory look, any particular reason you are using consumer and not consumergroup from sarama?

[2019-02-12 14:51] weeco commented on #1278
I intend to create a proper documentation / readme describing how the exporter works (this exporter does not consume the consumer group offsets topic). Since the exporter does not consume the consumer group offsets (like burrow for instance) I don't need a consumer group. The consumer is only used to get the Topics list

[2019-02-12 16:07] deusnefum opened #1280 "After publishing to AsyncProducer, Successes returned have null timestamps"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: 1.17.0
Kafka Version: 1.0.0.0
Go Version: 1.10.3

##### Configuration

Kafka is all default except for automatic topic creation which has been disabled

Saram config:
   config.Producer.RequiredAcks = sarama.WaitForLocal     // Only wait for the leader to ack

[2019-02-12 18:14] varun06 opened #1281 "Adding consumer batch-size matric to sarama"
##### Problem Description

If I have to expose a consumer batch metric from sarama, is this -> https://github.com/Shopify/sarama/blob/master/consumer.go#L519-L545 right place to do it? parseRecords get batch as an argument, can I put len(batch) as consumer-batch-size in metric?

@dim @eapache

[2019-02-13 01:22] ishworg commented on #229
Agreed. Regular administrative operation like rolling restart of a single broker should not impact clients from produce/fetch operation.

We saw this *exact* bug on our sarama clients as well. This issue was on a _critical_ path.

We decided to deprecate the use of sarama library across the board and rolled out diffs to use the Confluent driver. Primarily 1) we needed a better driver 2) transactio

[2019-02-13 15:45] dim commented on #1281
@varun06 sorry this isn't my code, but I assume it depends on the `Consumer.Fetch` settings in https://github.com/Shopify/sarama/blob/master/config.go#L244

[2019-02-13 17:30] varun06 commented on #1281
Thanks. I shall keep looking.

[2019-02-13 17:31] varun06 commented on #1279
Please close the issue if it is no more an issue.

[2019-02-13 17:42] #1279 closed

[2019-02-15 14:02] magicdvd commented on #1272
Please do.

[2019-02-15 14:55] varun06 commented on #1272
@ebati Are you working on it? If not, I can take a crack sometime in coming week.

[2019-02-15 16:06] ebati commented on #1272
Actually i prepared go.mod and sum files but i am not sure how to handle go 1.10 which will not able to fetch these version. It might be better to wait 1.12 to come?

[2019-02-15 17:21] varun06 commented on #1272
I thought that it works with old go version -> https://github.com/golang/go/wiki/Modules#how-are-v2-modules-treated-in-a-build-if-modules-support-is-not-enabled-how-does-minimal-module-compatibility-work-in-197-1103-and-111

[2019-02-15 18:44] ebati commented on #1272
The issue i am talking about is not about building the code but downloading the appropriate version of dependencies, that is fixed with go.mod, with go 1.10. Since this project does not vendor dependencies and run `go get -t` on each build running get with 1.10 will get the latest version not the version in go.mod. Please correct me if i am wrong about the matter.

[2019-02-16 20:19] saraweinberg opened #1283 "Consumer per topic vs multiple topics per consumer"
I have a micro service that should consume from multiple topics.
I wonder what is better to implement:

**1. One consumer that consume from a list of topics**
`cluster, err := cluster.NewConsumer(BROKERS, GropuID, topicNames, config)`
and then I have one go channel with switch case to handle proper logic per topic.
**2.One consumer per topic**
`cluster, err := cluster.NewConsumer(BROKERS, GropuID,

[2019-02-17 12:52] FrancoisPoinsot opened #1284 "The current state of `read_committed`"
Even though transaction are not ready yet in sarama, it would still be super useful to be able to read committed messages only.
Of course such message would typically be produced by java producer to begin with.

Before spending too much time on this, i would like to confirm a few things first.

1) Sarama does not support yet `read_committed` on consumer side. Is it correct?
2) Sarama does not supp

[2019-02-17 15:19] AlmogBaku opened #1285 "consumerGroup.Consume() with background context should be executed in a go routine"
I expect that `consumerGroup.Consume()` with `context.Background` will execute the consuming in the background(as specified) and will be run in a different go-routine.

cc @dim

[2019-02-19 03:19] dim commented on #1285
Consume will acquire a claim on a number of partitions and will process each of the claimed partitions in its own goroutine, as explained in the documentation.

[2019-02-20 13:04] xianglinghui opened #1287 "partitionOffsetManager will skip intermediate offsets if I don't mark offsets in order"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version:
Kafka Version:
Go Version:

##### Configuration

What configuration values are you using for Sarama and Kafka?

##### Logs

When filing an issue please provide logs from Sarama and Kafka if at all
possible. You can set `sarama.Logger` to a `log.Logger` to captur

[2019-02-20 15:13] varun06 commented on #1285
Hey @AlmogBaku
does that answer your question, if yes, can we please close this issue?

[2019-02-20 15:14] varun06 commented on #294
Does anyone know if this is still an issue. Can we close it now? @bai @eapache

[2019-02-20 15:26] bai commented on #294
Hmmm, doesn't seem so — I'm going to close it but feel free to reopen if you think otherwise 🙌

[2019-02-20 15:26] #294 closed

[2019-02-21 09:00] wrfly opened #1288 "[typo] message.go#L160 previousy -> previously"
https://github.com/Shopify/sarama/blob/2dcf36cdd2017e60a9fcd9d530ab517cc1b6d854/message.go#L160

previousy -> previously

[2019-02-21 10:04] bai commented on #1288
Thanks!

[2019-02-21 10:07] #1288 closed

[2019-02-21 10:46] wrfly commented on #1288
This "typo" is 5 years ago...

[2019-02-21 10:46] bai commented on #1288
Happens to the best of us! ¯\_(ツ)_/¯ Thanks for reporting this one!

[2019-02-21 19:24] varun06 opened #1290 "Set the value of BlockTimestamp when consuming V2 messages"
Sarama is not setting the value of BlockTimestamp when consuming V2 messages, but it is when consuming V1 messages.
Other kafka clients only expose 1 timestamp, so recommendations are:

    1. set BlockTimestamp for consistency between V1 and V2
    2. remove BlockTimestamp,

[2019-02-22 05:08] #1272 closed

[2019-02-24 18:38] FrancoisPoinsot commented on #1284
So i figured that first thing i would need to check if i can handle uncommitted transaction correctly, is to have some uncommitted transaction.
So here is a simple producer that output some committed and some uncommitted messages: https://github.com/FrancoisPoinsot/simplest-uncommitted-msg

[2019-02-25 06:24] h00401342 opened #1292 "new sarama use pierrec/lz4 , V 1.18.0 use which pierrec/lz4?"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version:
Kafka Version:
Go Version:

##### Configuration

What configuration values are you using for Sarama and Kafka?

##### Logs

When filing an issue please provide logs from Sarama and Kafka if at all
possible. You can set `sarama.Logger` to a `log.Logger` to captur

[2019-02-26 13:11] varun06 commented on #1292
Can you please elaborate more?

[2019-02-28 13:31] varun06 commented on #497
I wonder if this is still an issue with go modules?

[2019-02-28 13:32] #1285 closed

[2019-02-28 13:37] varun06 commented on #1283
Hey @saraweinberg  it depends on your design and infrastructure. Think in terms of availability and what happens when application goes down. If one consumer is consuming from all the topics, if it goes down, it stops processing for all the topics, but if you have one consumer/topic, then you have more headspace. There is a question about if your machine can handle consuming from a lots of partitio

[2019-02-28 13:38] varun06 commented on #1280
Are you still seeing this?

[2019-02-28 13:46] deusnefum commented on #1280
Yes I am.

[2019-03-02 07:45] figoxu opened #1299 "How Does "sarama" Support Transaction"
How Does This SDK Support The Methods Of 'Producer And Consumer' Such As : 'BeginTransaction' 'CommitTransaction' 'Rollback'

[2019-03-02 12:24] anantheshadiga commented on #1221
Are you expecting `MarkOffset` functionality on consumer messages? This is supported:
https://github.com/Shopify/sarama/blob/v1.21.0/consumer_group_test.go#L15

[2019-03-03 18:05] FrancoisPoinsot commented on #1284
Using previous custom producer, here is a setup for testing the read_commited:
https://github.com/FrancoisPoinsot/sarama/tree/read-committed/tools/uncomitted-messages

Everything is in the readme, but in short:
- run docker-compose
- wait
- run the go code to consume

With this, i supose next step is to try to actually implement the read_committed.

[2019-03-05 03:10] itgrit opened #1301 "This consumer group api does not support for kafka 0.10.1.0?"
https://github.com/Shopify/sarama/blob/b14e3c695cec874523504cde3c5f62e3c367ea11/consumer_group.go#L94

[2019-03-06 20:34] praseodym commented on #1057
https://github.com/Shopify/sarama/pull/1295

[2019-03-07 03:00] #1057 closed

[2019-03-07 07:42] abonec opened #1302 "Is it safe to reuse value from AsyncProducer.Successes()"
Is it safe to reuse value from AsyncProducer.Successes() to next messages? Due to lack of documentation in the code it is not clear.
Need to clarify it in the doc.

[2019-03-07 15:26] varun06 commented on #1302
Can you please elaborate more and give a quick use case?

[2019-03-09 20:11] FrancoisPoinsot commented on #1284
I think I found a pretty concise description of how client should handle read_committed:
https://github.com/apache/kafka/blob/38a7708a47361929df37ed0f03160bbac5e51e93/clients/src/main/resources/common/message/FetchRequest.json#L58

[2019-03-10 07:59] 1995parham opened #1305 "Consumer Group"
I want to know is there any difference with Sarama and [Sarama Cluster](https://github.com/bsm/sarama-cluster)? I Sarama itself has a consumer group interface in its GoDoc so can we use it? I am asking this because in the same GoDoc Sarama refer to Sarama Cluster for group consuming.

[2019-03-10 09:37] abonec commented on #1302
My messages in megabytes and I want to check AsyncProducer.Successes and put those slices to sync.Pool to reuse later in order to reduce pressure to GC.

[2019-03-10 12:03] varun06 commented on #1302
More curious - First of all, sync.Pool gets cleared every [GC cycle](https://github.com/golang/go/issues/22950), so you should use it very carefully, but I am more curious about your storing messages from success and doing something with them, can you tell me more about your use case?

[2019-03-10 12:05] varun06 commented on #1305
Sarama cluster is going to be deprecated in favor of Sarama consumer groups -> https://github.com/bsm/sarama-cluster/issues/262#issuecomment-419878258

Please use sarama. I will clean up sarama go-doc soon.

[2019-03-10 12:08] #1305 closed

[2019-03-10 13:02] abonec commented on #1302
Ok. My algorithm as following:
Send loop:
1. Take []byte from the sync.Pool
2. Serialize (size of slice counts in megabytes) message to this slice
3. Produce this message via async producer.
Release loop:
1. Get sent message from the AsyncProducer.Successes
2. Put underlying slice back to the pool to serialize next message.

My question is:
Is it safe to reuse []byte to future serialization? I ask

[2019-03-10 13:11] varun06 commented on #597
This is done. Closing.

[2019-03-10 13:11] #597 closed

[2019-03-10 13:13] #1157 closed

[2019-03-10 13:18] varun06 commented on #1140
PR is merged. Closing this issue.

[2019-03-10 13:18] #1140 closed

[2019-03-10 13:19] varun06 commented on #1148
Is this still an issue. If not, please close.

[2019-03-10 13:19] varun06 commented on #1150
Is this still an issue. If not, please close.

[2019-03-10 13:20] varun06 commented on #1151
Is this still an issue. If not, please close.

[2019-03-10 13:20] varun06 commented on #1153
@dnwe This should be fixed now right?

[2019-03-10 13:22] varun06 commented on #1158
@kjelle PR is definitely welcome.

[2019-03-10 13:29] varun06 commented on #1238
Looks like it should work. Are you still facing this issue, if not, can you please close this issue?

[2019-03-10 13:30] varun06 commented on #1177
Done with #1306

[2019-03-10 13:30] #1177 closed

[2019-03-10 13:41] #1192 closed

[2019-03-10 13:44] varun06 commented on #1212
Fixed.

[2019-03-10 13:44] #1212 closed

[2019-03-10 18:44] FrancoisPoinsot commented on #1284
https://github.com/Shopify/sarama/pull/1307

[2019-03-11 14:58] varun06 commented on #1301
Is that an issue, can you please elaborate?

[2019-03-12 02:44] Aulilino commented on #858
I am so curious about how u solve it. Could u provide more infomation about it. Tks a lot.

[2019-03-12 10:19] Andy320 opened #1308 "About method : InitProducerID"
Sarama Version: Latest
Kafka Version: 2.1
Go Version: 1.11

##### Problem Description
[code]

Question is:
How to set the TransactionalID ?  thanks

[2019-03-12 12:44] yum-install-brains opened #1309 "Confusion with Sarama MaxMessageBytes and Kafka message.max.bytes different meaning"
##### Versions

Sarama Version: v1.20.1
Kafka Version: v2.0.0
Go Version: v1.11.5

##### Configuration
Kafka:
[code]

Sarama SyncProducer:
[code]

##### Problem Description
According to https://github.com/Shopify/sarama/issues/636#issuecomment-203611747 Sarama uses batching by default. However, `MaxMessageBytes` in Sarama is per message parameter and `message.max.bytes` in Kafka is per batch (simi

[2019-03-12 15:05] varun06 commented on #1309
Here -> https://github.com/Shopify/sarama/blob/master/config.go#L393-L401 are the defaults, please let me know if they are not helpful.

[2019-03-12 20:35] yum-install-brains commented on #1309
@varun06, thank you for quick answer!

But I am still not sure about default batching on sync producer. For example, with only default configuration values I am not batching messages at all (sending one message per request always)?

[2019-03-12 21:01] varun06 opened #1310 "unknown generation error while consuming using consumer group"
##### Versions

Sarama Version:1.21.0
Kafka Version: 1.1.0
Go Version:1.12

##### Configuration
[code]

##### Logs
[code]

##### Problem Description

We have a library that provide some abstraction over sarama consumer group. while using the library I see lots of above ^^ errors. I have already looked at session timeout values, but no help. @dim can you please help me understand this error and poi

[2019-03-13 08:14] isaactl commented on #1224
same issue here, can anybody help?

[2019-03-13 15:04] drsoares opened #1311 "Client does not support operation to return the offline replicas of a given partition"
##### Versions

Sarama Version: v1.21.0, revision:4602b5a8c6e826f9e0737865818dd43b2339a092
Kafka Version:0.11.0.0
Go Version: 1.11.2

##### Problem Description
I think it would be helpful to have the Offline Replicas number available on the sarama.Client interface.

Similar to the number of partitions and similar to the number of the out of sync replicas. Something like:

	OfflineReplicas(topic st

[2019-03-13 16:12] varun06 commented on #1311
that sounds helpful @drsoares plese make a PR and we can take it forward from there.

[2019-03-13 16:53] varun06 commented on #1310
@bai have you seen this error ever?

[2019-03-13 17:22] #1281 closed

[2019-03-13 18:16] bai commented on #1310
Possibly related? https://github.com/bsm/sarama-cluster/issues/29

[2019-03-13 21:52] varun06 commented on #1310
Thanks Bai, that's helpful.

[2019-03-13 22:00] varun06 commented on #1308
one way to do that would be->

`req := &InitProducerIDRequest{TransactionalID: 24whatever}`

Now, why/what are you trying to do? more info will help in answering better.

[2019-03-14 05:35] Andy320 commented on #1308
What am I going to do is ,
1. Call producer.(some method) to initialize a kafka producer transaction in the kafka cluster.
2. If 1 is ok, call producer.(some method) to send a message(like order created) to start the transaction.
3. Do local mysql transaction.
4. If 3 is ok, Call producer.(some method) to commit this kafka transaction.
5. For now, the consumers begin to handle the committed messag

[2019-03-15 06:38] #1301 closed

[2019-03-15 12:56] lechnertech commented on #1224
There are some deadlock type issues on both producing and consuming.  The only advice I can give is not to enable producer successes.  Since we disabled that, we have not seen a hang.  I can't confirm that fixes it, but we have not seen a hang in months.  On the consumer side, I would not use async close.  I have found a similar deadlock issue when using that and have not seen it since using close

[2019-03-15 15:53] prune998 opened #1313 "get a partition log size"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: 1.21.0
Kafka Version: 1.0.0
Go Version: 1.12

##### Problem Description

I would like to be able to get the Log Size for each partition in a specific topic/broker.
I even don't know if the Kafka API offer that info other than the JMX endpoint.

I see a `AdminCli

[2019-03-17 02:12] isaactl commented on #1224
@lechnertech, this is very informative, thanks!

[2019-03-18 19:01] varun06 commented on #782
Closing -> https://github.com/Shopify/sarama/blob/master/config.go#L194

[2019-03-18 19:01] #782 closed

[2019-03-19 09:09] ning1875 opened #1319 "Failed to produce message to topic xxxx: EOF"
##### Logs

err: kafka: Failed to produce message to topic xxxx: EOF
##### Problem Description
here were my code
[code]

[2019-03-19 16:17] varun06 commented on #1310
Hey @dim I think I need your help here. I have tried bunch things but still getting below error in sarama logs.

[code]

Here is my consumer side config -

[code]

[2019-03-20 10:32] amitgurav04 opened #1320 "How to configure SASL/OAUTHBEARER based producer/consumer?"
##### Versions

Sarama Version: V2_2_0_0
Kafka Version: kafka_2.12-2.1.1
Go Version: go1.11

###  Configuration
I have setup kafka with SASL/OAUTHBEARER with unseureLogin
**config/server.properties has following configuration added:**
[code]
**config/kafka_server_jaas.conf is as below:**
[code]
**producer.properties has below configurations**
[code]
By above configurations I am able to produce and

[2019-03-20 15:27] varun06 commented on #1320
TokenProvider takes an interface. So any type that has a function Token() will work.

Have a look at https://github.com/Shopify/sarama/blob/master/broker_test.go#L131 and see if that helps. If not, let me know.

[2019-03-20 19:02] varun06 commented on #1290
@bai what do you think about this. Let's find a common ground and then I can work on it?

[2019-03-20 20:29] mkaminski1988 commented on #1320
@amitgurav04 This might help you get started (haven't actually tested it yet, sorry).

The example below is based upon the [go-kafkacat implementation](https://github.com/confluentinc/confluent-kafka-go/blob/32bf9d672066d58755d10600094353a94561f525/examples/go-kafkacat/go-kafkacat.go#L72:L126).

[code]

[2019-03-21 22:28] dnwe commented on #1153
Yep. Fixed be #1154

[2019-03-21 22:28] #1153 closed

[2019-03-22 08:25] thomas-mangin opened #1321 "Memory leak when using metrics"
##### Versions

Sarama Version: 1.20.1 release
Kafka Version: N/A
Go Version: 1.12.1

using Sarama commit 03a43f93cd29dc549e6d9b11892795c206f9c38c

##### Problem Description

Using Sarama to test the "liveliness" of a Kafka server, and calling `NewSyncProducer` in a new goroutine every second, it was noted that the application was slowly leaking memory.

Looking at the memory profiler, the memory

[2019-03-23 10:32] uynap opened #1322 "Consumer group can't consume messages from beginning of the topic"
#### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: Version 1.21.0 (2019-02-24) Latest
Kafka Version: 2.1.0 (Mac installed by brew)
Go Version: go1.11 darwin/amd64

##### Configuration

I use the exactly the code provided here `https://github.com/Shopify/sarama/tree/master/examples/consumergroup` .

##### Problem

[2019-03-25 06:03] cheesedosa commented on #1322
`config.Consumer.Offsets.Initial` only takes effect when offsets are not committed to Kafka/Zookeeper. If the consumer group already has offsets committed, the consumer will resume from the committed offset. Can you test with a new consumer group name (that has not started consuming) and check if this issue still exists?

[2019-03-25 07:25] amitgurav04 commented on #1320
Thanks @mkaminski1988, I tried the example given. And it's working.

[2019-03-25 07:44] uynap commented on #1322
Thank you cheesedose.
When I use a new consumer group name, the issue is gone. Is there anyway in this library that I can use to have the same behaviours like `kafka-console-consumer --bootstrap-server localhost:9092 --topic test --from-beginning` ?

[2019-03-25 08:00] cheesedosa commented on #1322
`kafka-console-consumer` uses a new consumer group name of the format `console-consumer-<random number>` . You can check the consumer groups active in kafka with `kafka-consumer-groups.sh --bootstrap-server localhost:9092 --list`.

If you want to reproduce the same behaviour as the `console-consumer`, you will have to use a different consumer group name each time. Maybe you can use something like

[2019-03-25 09:05] uynap commented on #1322
It makes sense for me. Thank you again.

[2019-03-25 09:05] #1322 closed

[2019-03-25 09:42] amitgurav04 commented on #1320
Now, I want to make it secure using KEYCLOAK oauth. How can I configure producer/consumer client of sarama.

[2019-03-25 14:46] mkaminski1988 commented on #1320
@amitgurav04 SASL/OAUTHBEARER is not tied to any particular auth platform and is meant to be flexible. Perhaps you could implement a `TokenProvider` instance that uses an HTTP client to obtain credentials from Keycloak.

[2019-03-26 14:44] jgeiger commented on #1213
The forced conversion of the p.hasher.Sum32() to an int32 breaks compatibility with other kafka libraries including https://github.com/zendesk/ruby-kafka which is using a crc32 key hasher.

[code]

The uint32's match, but forcing the cast to int32 then breaks the result. As above, I'm not sure what the path forward is because there are probably people relying on the broken implementation.

[2019-03-26 19:51] matzew opened #1324 "Consume large batches of message?"
With code like:

[code]

I read messages 1-by-1

what's the best way to read (larger/configurable) batches of lot's of messages ?

[2019-03-26 20:07] varun06 commented on #1324
when a consumer reads from broker, it batches those reads. When you are consuming the claim, you are getting message from channel and you are consuming it one by one, but batching is definitely happening in the backend. you can tweak the number of messages to batch with `config.consumer.Fetch.Min` setting.

Let me know if I answered your question.

[2019-03-26 20:21] matzew commented on #1324
Thanks, @varun06!

The doc says:

So, it's bytes, not messages..

I was wondering if I am able to read 1000 messages in once, and than throw them in "n" goroutines to some other infrastructure/server, that will store/process them.

In Java client, the `poll` returns a "collection" (`ConsumerRecords`), which contains a number of `ConsumerRecord` objects

[2019-03-26 22:32] vishalmodak opened #1325 "Best Practice on Client vs new Consumer/Producer"
Hello,

I am trying to figure what is good practice for creating consumers or producers.
Is it better to create a Client once and then re-use it to create multiple consumers/producers thru the life of the application?
Alternatively, is the cost of creating a consumer/producer for every message expensive? I have noticed that every instance of consumer/producer creates a new connection with the brok

[2019-03-26 23:40] varun06 commented on #1325
Yes, you don't want to do that in general case, you create a consumer or producer and use it to consume and publish messages to kafka. Once you are done, you close both consumer and producer.

Same thing with client, you create it once and the use to create consumer and producer. client reuse is highly recommended.
https://godoc.org/github.com/Shopify/sarama#Client

[2019-03-26 23:44] varun06 commented on #1324
hmm, it's a channel based consumer so you will receive 1 message at a time, one thing that you can do is write your own batching procedure and then send those batch to downstream processors. But as far as I know sarama doesn't give you a collection of records to process.

@bai can you help with this?

[2019-03-28 14:46] birdayz commented on #1324
you can do a hack: when reading from the channel, keep reading from it into a slice, until - in a select - you would get a blocking read (nothing is in the channel).

[2019-03-29 08:23] dark-bytes commented on #1319
is your config.Version = sarama.V0_11_0_2 and broker's kafka version ??
It gave for me when there was difference in kafka version

[2019-03-29 11:59] #1219 closed

[2019-03-30 20:22] jeroenrinzema commented on #1269
@dhbarman Currently it is not plausible with Sarama to detect the io byte rate on a Kafka cluster. Please take a look at the [documentation provided by confluent](https://docs.confluent.io/current/kafka/monitoring.html#broker-metrics) on monitoring. You have to setup a JMX metrics exporter that collects the io byte rate of Kafka.

[2019-04-01 13:03] dim commented on #1310
@varun06 sorry, I have been slightly distracted recently :) My apologies, but I am not 100% sure how to help. Generation errors only happen when a member tries to commit offsets after the session has been closed server side. I assume you are not stopping your consume loop quickly enough after a rebalance is triggered. The broker is then starting a new session with a new generation and giving up on

[2019-04-01 14:15] varun06 commented on #1310
Thanks @dim I have been playing with timeouts and they have helped, so errors are very sporadic now, I am sure it is the way we committing the offsets, we commit them in batch and that code has some oddities as you mentioned.

[2019-04-01 17:04] #1310 closed

[2019-04-01 17:04] curt-hash opened #1336 "Improve consumer group example [documentation]"
Running the existing consumer group example results in a panic. It's pretty clear why, but it might be good to have an example that shows an idiomatic way to cleanly break out of the `Consume()` loop if the client is closed.

[code]

[code]

[2019-04-01 17:06] panamafrancis commented on #1287
i believe this is the intended behaviour of kafka partitions, you can't speculatively process messages and commit their offsets out of order.

If you want to improve throughput you increase the number of partitions but maintain a maximum 1:1 ratio of partitions to consumers. i.e. you can't have 1 partition with 2 consumers.

if you can't guarantee the validity of each message but want to process t

[2019-04-01 17:06] panamafrancis commented on #1287
I would vote to close this issue.

[2019-04-01 17:07] panamafrancis commented on #1299
AFAIK it does not support all kafka transaction features yet.

[2019-04-02 18:08] #1284 closed

[2019-04-03 15:03] prune998 commented on #1215
Same issue here... Sarama should not include dependencies that embed C code !

[2019-04-03 17:33] varun06 opened #1340 "Discussion - Metrics in sarama"
I have been fighting with go-metrics model of doing stats. There is definitely a gap between go-metrics and prometheus etc. Then I came across https://github.com/rcrowley/go-metrics/pull/242#issuecomment-455613410.

That makes me wonder if we should think about doing stats in sarama in a different way. thoughts?

@bai - Please feel free to add more folks here.

[2019-04-04 21:50] weeco opened #1341 "Health checking Kafka connection"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: v1.21.0
Kafka Version: v2.2.0
Go Version: v1.12

##### Question

I'd like to implement a health check which tells me whether the client can talk to the Kafka cluster or not. Since it's regularly called by Kubernetes I'd like to avoid any heavier request.

Thus I

[2019-04-05 15:27] varun06 commented on #1341
How about checking active brokers -> https://github.com/Shopify/sarama/blob/master/client.go#L23-L24??

[2019-04-05 15:48] weeco commented on #1341
Is somewhere defined what "active brokers" means in this context? Depending on that definition that could perfectly suit my needs.

[2019-04-08 09:24] xiezhenye commented on #1321
I meet the same problem.

[2019-04-08 18:51] varun06 commented on #1341
It is fetching that information from metadata about the cluster, so these are the brokers active at that particular moment in time.

[2019-04-08 20:11] weeco commented on #1341
Alright, seems to work as health check. I'll report back if I figure out it doesn't. Thank you

[2019-04-08 20:11] #1341 closed

[2019-04-09 09:48] zhaoweiguo commented on #1336
And it seems like that this command is not work:

Has anyone encountered the same problem?

[2019-04-10 15:24] sitano opened #1351 "consumer group deadlock on close: consumer group shutdown hangs"
##### Versions

Sarama Version: d84c59b2a2d87f185d91a1cc426a1f4d4e9365109fe0d96cbd2404c3a57c365a / release v1.22.0
Kafka Version: kafka_2.12-2.1.0.jar
Go Version: go version go1.12.1 linux/amd64

##### Configuration

What configuration values are you using for Sarama and Kafka?

Kafka: a single topic with only 1 partition and 2 consumers in a single consumer group

##### Logs

[code]

##### Proble

[2019-04-10 21:52] dnwe opened #1352 "MetadataRequest V5 has wrong encoding for "all topics""
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: 2b824357033b9904e3a32bf7fae2efe76f1591fd
Kafka Version: 1.1.0
Go Version: 1.11.8

##### Configuration

What configuration values are you using for Sarama and Kafka?

[code]

##### Logs

[code]

##### Problem Description

TL;DR if the client config version is at

[2019-04-10 22:11] dnwe commented on #1352
Unfortunately this bug is included in the just-released v1.22.0 milestone

[2019-04-11 02:12] DoubleLuck commented on #1238
I'm not working on this recently. I'll try later again, thanks.

[2019-04-11 08:16] sitano opened #1355 "consumer group shutdown: data race"
##### Versions

Sarama Version: d84c59b2a2d87f185d91a1cc426a1f4d4e9365109fe0d96cbd2404c3a57c365a / release v1.22.0
Kafka Version: kafka_2.12-2.1.0.jar
Go Version: go version go1.12.1 linux/amd64

##### Configuration

What configuration values are you using for Sarama and Kafka?

Kafka: a single topic with only 1 partition and 2 consumers in a single consumer group

##### Logs

[code]

##### Proble

[2019-04-11 10:03] Vesli commented on #1355
I experienced the same, I was wondering if this is something missing from the doc.

[2019-04-11 14:34] abonec commented on #1263
Is it possible to check without reading message? Say if there is no messages available (lag = 0) approach with msg offset doesn't work

[2019-04-11 14:49] ulkas commented on #1039
i used your code sample but got this error:

```./kafka.go:155:17: undefined: sarama.NewClusterAdmin```

any idea? this is my code block:

[code]

[2019-04-11 15:17] chandradeepak commented on #1039
@kamilash ,
I think you might be using old sarama in your vendor or in your go path. That is the reason it is saying that. Please update to latest sarama.

[2019-04-11 15:35] abonec opened #1356 "documentation for offsetresponse"
I dug in the guts of the sarama client to get lags for the given consumer group (it is not trivial task) and found OffsetResponse block with offsets field that I have no idea what it is.

Can you explain for this field means and may be add some documentation to the code?
https://github.com/Shopify/sarama/blob/master/offset_response.go#L5

[2019-04-11 16:14] varun06 commented on #1263
hmm, not aware of anything in sarama that does that, check this out -> https://github.com/google-cloud-tools/kafka-minion

[2019-04-11 16:15] varun06 commented on #1355
Do you mean this -> https://github.com/Shopify/sarama/blob/master/consumer_group.go#L82-L84

[2019-04-11 16:22] sitano commented on #1355
No. It works fine if to close the client after the consumer group is closed, but if to try to close the client before the consumer group is closed result in a data race. And it could be that just not to do it as the client is reused, but the thing is that the consumer group can hang on close, and a DR is not a nice thing to have trying to enforce shutdown.

Yet, if it is intended feel free to clos

[2019-04-12 02:21] #1352 closed

[2019-04-15 14:38] matzew opened #1357 "ConsumeClaim accessing external system"
I recently did add a note to the example, that _inside_ the `ConumeClaim` there should be no `goroutine`, see:

* https://github.com/Shopify/sarama/pull/1334/files

From this community @varun06 and @dim did approve the note.

However I was wondering what's best to access a 3rd party system (e.g. HTTP server) with messages consumed in the `Claim`.

What's best solution to do that?

Imagine, I have

[2019-04-16 08:25] 1995parham commented on #1310
@varun06 can you please describe and share your timeout values with us? We have the same problem with Sarama.

[2019-04-16 17:26] varun06 commented on #1310
@1995parham
[code]

[2019-04-16 22:26] kmulvey commented on #1045
kafka verion: 2.2
message bytes: 276
compression: off
sarama: 1.20.1
socket.request.max.bytes=1048576000  & a second try with 104857600

Ive been trying to produce the same message 10M times and its succeeds most times (5/6) but (1/6) fails with "message too large" error. It seems that if the size of each message is the same, the same number of messages should fit in each batch. It should either a

[2019-04-17 09:34] hagen1778 opened #1358 "AsyncProducer retries causing OOM"
##### Versions

| Sarama | Kafka | Go |
|--------|-------|----|
| 1.20.1 |1.0.0  |1.11.3  |

##### Configuration

[code]

##### Logs

Sarama logs recorded right before memory usage goes up:
<details><summary>logs: CLICK ME</summary>
<p>

[code]

</p>
</details>

##### Problem Description
The go-application writes messages into `AsyncProducer`. It also reads from `Success` and `Error` channels. The

[2019-04-23 07:19] dim commented on #1357
You can init a batch at the start of `ConsumeClaim`, accumulate some messages and send them to the HTTP service as a batch.

If you need to send your messages 1-by-1 and your HTTP service cannot cope with the flood of messages (i.e. you produce quicker than you can consume), you can add more partitions, but you probably also need to rethink your architecture.

[2019-04-23 08:06] ShileiGuo opened #1360 "Consumer can't consume specific topic when reinstall zookeeper and kafka"
###Sarama consumer can't consume specific topic when reinstall zookeeper and kafka###
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: 1.16.0
Kafka Version: 2.11-1.0.1
Go Version: 1.11

##### Configuration
##### Logs
##### Problem Description
1. I use following code to create consumer:
    consumer, err = sara

[2019-04-23 14:58] Ocaenyth opened #1361 ""Request was for a topic or partition that does not exist on this broker" with v1.22.0 but not previous versions"
##### Versions

Sarama Version: 1.22.0
Kafka Version: 2.1.0
Go Version: 1.11.4

##### Configuration

I am using the following environment variables in a docker-compose for Kafka :
[code]
And here is the code that I am using :
[code]
^ To get the connection and then call the following method v
[code]
##### v1.21.0 Logs
[code]

##### v1.22.0 Logs
[code]

##### Problem Description

After updating the

[2019-04-24 04:02] ZhangShurong commented on #1199
the type config.Consumer.Fetch.Max is int32.
But 40000000 is much bigger than the maximum of int32.
@sathibault

[2019-04-24 06:51] bluesky1024 opened #1362 "add consumers for consumer group"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version:2.2.0
Kafka Version:2.2.0
Go Version:1.11.5

##### Configuration

What configuration values are you using for Sarama and Kafka?
kafka:
broker:1
topic: "my-topic"-3partition-1 replicas

the sarama producer:
[code]

##### Logs

When filing an issue please provide l

[2019-04-24 07:28] junweiyang commented on #1362
i have the same issue。

[2019-04-24 13:50] l2eady commented on #1046
@chandradeepak  Hi Sir, I have the same issue like you, my situation is I have a consumer that consume a lot of data from the consumer.Message(). and you said try not reading lot of data from this function. So have we can handle this case. Do you have any suggestion for me please?

[2019-04-24 16:43] leoneuwald opened #1363 "[Question] Why consumer groups requires kafka version to be greater than 0.10.2.0"
##### Versions

Sarama Version: 1.22.0
Kafka Version: 0.10.1.1
Go Version: 1.12.2

##### Configuration

`config.Version = sarama.V0_10_1_1`

##### Problem Description

Hi,

I'm trying to understand the reason for the validation bellow:

[consumer_group.go](https://github.com/Shopify/sarama/blob/master/consumer_group.go#L94)
[code]

At the [Kafka Protocol Guide](https://cwiki.apache.org/confluence/

[2019-04-24 19:20] chandradeepak commented on #1046
@l2eady
consumer.Message() is a read channel. If you don't read it it puts back pressure automatically.

some where in your code you should have
for {
select{
 case <- consumer.Messages():
  do some thing.

}
}

if that do some thing is hanging it won't go for next loop to read next message and that would slow it down.

[2019-04-25 02:57] l2eady commented on #1046
@chandradeepak  Thank for your information. I was did that way, but it still not solve my problem about memory leak, and I try to trace the memory with pprof, and it show the sarama use a lot of memory in Broker file (sendAndReceieve, and also com/rcrowleygo-metrics-NewExpDecaySample)

[2019-04-26 02:55] varun06 commented on #1363
@dim can you please answer it?

[2019-04-26 02:58] varun06 commented on #1362
hmm, I will have a look this weekend.

[2019-04-26 06:38] dim commented on #1363
I don't remember the exact reason, but I do remember that there was one. It may be related to https://github.com/apache/kafka/pull/1336 which was added/fixed in 0.10.2.x

[2019-04-27 12:37] varun06 commented on #1362
Alright, I ran same example locally and I was able to run more than 1 consumer per consumer group. it didn't panic at all and it subscribed to partitions in topic fine.

I have a 10 partition topic btw.

That's the command I ran locally multiple time to have multiple consumers.

`go run main.go -brokers localhost:9092 -group test -topics consumer-group-test -verbose`

@bluesky1024 ^^

[2019-04-27 12:39] varun06 commented on #1363
does that answer your question @leoneuwald ??

[2019-04-28 05:25] bluesky1024 commented on #1362
@varun06 Thanks for your relay. I can not figure out what‘s wrong with my code...
I tried to run the same file. The result is as follows
a.
[code]
b.
[code]

it seems that the first process has added subscription of my-topic 's 3 partition. When the second process added subscription of the same topic's same partition, panic appear, which causing dead subscription.

Is it possible that there is som

[2019-04-30 13:54] leoneuwald commented on #1363
Yes. Thanks!

[2019-04-30 13:54] #1363 closed

[2019-05-02 00:56] jwatte commented on #1252
I would love to get this merged.

[2019-05-02 14:14] Ocaenyth commented on #1361
This issue was related to #1344 and now works as of v1.22.1

[2019-05-02 14:14] #1361 closed

[2019-05-03 12:25] varun06 commented on #1362
Can you please share kafka configs?

[2019-05-03 12:29] varun06 commented on #1321
@bai There is a real issue with go-metrics and Sarama use of it. My old colleagues also reported the same issue. What are our options here?

[2019-05-04 11:40] bai commented on #1321
If you'd ask me, I don't find Sarama's metrics useful and have no production workloads that rely on it in any way, preferring prometheus or custom integrations instead. Also, go-metrics seems abandoned (or on life support, depending on what your threshold of "abandoned" is) with last commit made in October last year.

In fact, it seems that you already [raised this issue](https://github.com/Shopif

[2019-05-05 06:54] Stephan14 commented on #957
@eapache I want to know whether this bug is fixed, I call MarkOffset but it not commit offset and "Return": { "Errors": true } in my configuration, I not see any error.If fix it, I want to how to fix it and show me the code?

[2019-05-05 11:42] varun06 commented on #1321
Yeah, I also think that we should announce and remove this functionality. It is maintenance nightmare and not very good. How do we do that @bai?

[2019-05-06 10:27] bluesky1024 commented on #1362
@varun06 I'm terribly sorry for forgetting check my email these days...
I use the docker images from https://github.com/wurstmeister/kafka-docker. And the YML configure file is as follow
[code]

[2019-05-06 12:54] eapache commented on #1321
I have historically managed to completely avoid breaking changes to the API (thus the fact we're still on v1 with semantic versioning). If this is worth ripping out, then perhaps it's finally time for a v2, and we can roll in a bunch of the things I'd collected in https://github.com/Shopify/sarama/wiki/Ideas-that-will-break-backwards-compatibility at the same time?

[2019-05-06 15:10] hilalevavi commented on #1362
can you share please an example for one creating consumerGroup but create couple of consumer instance in this consumer group that consume success consume both? when i use the log
after call the second consumer (from the same consumerGroup of the first consumer i created i got)
[sarama] 2019/05/06 15:01:45 consumer/broker/2 closed dead subscription to cs/31
[sarama] 2019/05/06 15:01:45 consumer/bro

[2019-05-06 18:39] varun06 commented on #1321
I agree.

[2019-05-07 02:24] bluesky1024 commented on #1362
@hilalevavi I got the same problem as yours. Here is my program, is there something wrong?
https://github.com/bluesky1024/goMblog/blob/20190425_mblog_to_feed/daemon/kafka/relation/main.go

[2019-05-07 07:49] nicolaenicora commented on #1321
Will be nice if will be a way to disable the metrics from sarma configuration.

Meanwhile resolved this problem by writing mine metrics registry. Because default one is keeping all metrics in memory.
When you create a  Sarama configuration it is used by default:
`c.MetricRegistry = metrics.NewRegistry()` under which is used `StandardRegistry`.

Solution is to have a empty one:

`var (
	EMPTY = mak

[2019-05-07 16:54] jbresciani commented on #1057
with scram support now in Sarama will we be seeing support for it in burrow? or is it there already?

[2019-05-07 19:28] MichaelCombs28 opened #1369 "Creating ACLs in version 2.1.0 doesn't work"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: v1.22.1
Kafka Version: 2.1.0
Go Version: 1.10

##### Configuration

SSL certificates, admin is connecting to cluster and is able to create topic. SSL mutual auth is working since consumer / producers / creating topics work

[code]

##### Logs
2019/05/07 12:11:03

[2019-05-07 22:16] #1369 closed

[2019-05-08 21:01] georgeteo opened #1370 "Sarama Consumer should not check for MaxResponseSize in FetchResponse >= v3"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: 35324cf48e33d8260e1c7c18854465a904ade249
Kafka Version: 1.1.1
Go Version: 1.12.0

##### Configuration

Not relevant

##### Logs

[code]

##### Problem Description

Per Kafka [KIP 74](https://cwiki.apache.org/confluence/display/KAFKA/KIP-74%3A+Add+Fetch+Response+

[2019-05-08 21:07] georgeteo opened #1371 "Sarama should randomize partitions in FetchRequest >= V3"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: 35324cf48e33d8260e1c7c18854465a904ade249
Kafka Version: 1.1.1
Go Version: 1.12.0

##### Configuration

Not relevant

##### Logs

Not relevant

##### Problem Description

Per [KIP-74](https://cwiki.apache.org/confluence/display/KAFKA/KIP-74%3A+Add+Fetch+Response+

[2019-05-08 21:12] georgeteo commented on #1370
Note that with this check in place, the following case is degenerate (no progress will be made) with the following configuration:
[code]
But progress should be made according to the Kafka protocol and Apache Kafka Java Client implementation.

[2019-05-12 02:38] qiangmzsx commented on #1358
me too!!!
[code]

[2019-05-12 02:44] qiangmzsx opened #1372 "AsyncProducer: runtime: out of memory(OOM)"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version:1.22.0
Kafka Version:1.1.0
Go Version:1.10

##### Configuration

What configuration values are you using for Sarama and Kafka?
[code]
##### Logs

[code]
##### Problem Description

[2019-05-21 06:44] yzpnet opened #1375 "kerberos auth support"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: latest
Kafka Version: 0.9.0
Go Version: go1.12 darwin/amd64

##### Problem Description

I need the kerberos authentication.

Need auth by xxxx.keytab file.

[2019-05-21 06:45] yzpnet commented on #1375
Sarama Version: v1.22.1

[2019-05-22 09:05] evazca opened #1377 "is it a bug with DeleteRecords"
Versions
Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.
Sarama Version: a4a1b88
Kafka Version: 2.1.1
Go Version: 1.12.1

Configuration
Not relevant

Logs
Not relevant

Problem Description
The method DeleteRecords in admin.go seems to have a bug. The DeleteRecordsRequest should be sent to Leader according to  KafkaAdminClient rather than the

[2019-05-22 21:15] dhbarman commented on #1336
Is it possible to enhance the documentation and examples/test cases describing how to handle the following ?

Suppose there is a go-routine A which is invoked (periodically). This go-routine A represents a consumer of a consumer-group. Therefore, A will initiate consume() and that will lead to processing of messages on various claims.

All the messages need to be aggregated at A. One way to achiev

[2019-05-23 12:03] robinryden commented on #1299
@panamafrancis what features are not supported atm regarding transactions? thanks

[2019-05-24 09:01] funkol2007 opened #1378 "How to get all consumer groups that subscribe to a topic?"
Hi all, I was wondering if there is any method to get the consumer group list that subscribe to some topic.  If there has some metod to get the relationship between topics and consumer groups is much better!

[2019-05-25 11:22] varun06 commented on #1340
@bai have you looked at https://opencensus.io. May be we should use that in place of go-metrics?

[2019-05-25 11:25] bai commented on #1340
I'm just flying from KubeCon right now and the news is that OpenCensus and OpenTracing are merging into OpenTelemetry. I think it makes sense to explore using OpenTelemetry instead of go-metrics, I'll take a look and will follow up here over the next few weeks.

[2019-05-25 11:35] varun06 commented on #1340
Oh man, I hope they keep the api same, otherwise it's gonna be a big headache for us. Yeah, let's look at them as they look great for our use case.

[2019-05-25 12:13] taalhach opened #1379 "regex topic subscription"
hi all i am trying to do pattern matching to topics names and subscribe to the topics that matches to given regex and if a topic is added after running the consumer then it should also subscribe to that topic. we can do that in confluent but they reads the message by polling and using one routine i want to handle message consumption in separate go routine per topic is there any way we can achieve

[2019-05-25 12:29] giautm commented on #1340
OpenCensus look still stable for our, OpenTelemetry has a long milestone to stable - (12/2019)

[2019-05-25 19:42] bai commented on #1340
To be honest, given this is a breaking change and it kind of paves the way for Sarama 2.0, I don't think it's going to take less than a few months to go over, incorporate, and stabilize [this list](https://github.com/Shopify/sarama/wiki/Ideas-that-will-break-backwards-compatibility).

[2019-05-26 12:30] varun06 commented on #1340
Yeah, let do that. Also should we add metrics change to above list?

[2019-05-27 03:00] giautm commented on #1340
yep, waiting for `Sarama@v2`.

[2019-05-27 16:49] Lou-Cipher commented on #1375
I'm currently working on adding Kerberos support, using gokrb5.  I'm learning go as I work on this, so it might take a bit to get it fully working.  I'm hoping to add support for both password auth and keytabs.  End goal is to add support for Kerberos auth to the Telegraf Kafka output, and Telegraf uses sarama.

[2019-05-28 14:23] NeoHuang opened #1381 "Endless loop while initializing a consumer group"
##### Versions

Sarama Version: 1.22.1 (https://github.com/Shopify/sarama/commit/ea9ab1c316850bee881a07bb2555ee8a685cd4b6)
Kafka Version: 2.1.1
Go Version: go1.11.2

##### Configuration

What configuration values are you using for Sarama and Kafka?
for Sarama I simply set this config
[code]

##### Logs

<details>

[code]

</details>

##### Problem Description

I am trying to initialize a consumer

[2019-05-28 16:14] DrmagicE opened #1382 "How to use regex pattern subscription?"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: master
Kafka Version: 2.2
Go Version: 1.12

##### Configuration

Default

##### Logs
[code]
##### Problem Description
Is there a way to use regex pattern in subscription? Just like in java:
`void	subscribe(java.util.regex.Pattern pattern, ConsumerRebalanceListen

[2019-05-28 16:35] DrmagicE commented on #1379
@taalhach Hi, can you show me how to use pattern matching topic?
I tried in this issue: https://github.com/Shopify/sarama/issues/1382, but it is not working..

[2019-05-30 02:45] dhbarman opened #1384 "How to start consuming from the latest offset after client restart ?"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: v1.22.0
Kafka Version: 2.0.0
Go Version: 1.12.5

##### Configuration

Standard config as in the example here.

##### Logs

When filing an issue please provide logs from Sarama and Kafka if at all
possible. You can set `sarama.Logger` to a `log.Logger` to capture

[2019-05-30 05:00] yzpnet commented on #1375
Thanks a lot.
Hope can be used as soon as possible.

[2019-05-30 18:50] taalhach commented on #1379
i used confluent's go library for pattern matching didn't try it with sarama
click the link below and check 1st consumer example
https://github.com/confluentinc/confluent-kafka-go

[2019-05-31 02:21] XiaochenCui opened #1386 "connection refused from kafka 2.12-2.2.0"
##### Versions

Sarama Version: v1.20.1
Kafka Version: 2.12-2.2.0
Go Version: 1.11.1

##### Configuration

[code]

docker-compose:

[code]

##### Logs

gateway_1   | time="2019-05-31T01:26:01.357741559Z" level=info msg="kafka: Failed to produce message to topic test: dial tcp 127.0.0.1:9092: connect: connection refused" _source="gateway/producer.go:50"

##### Problem Description

I put application

[2019-05-31 03:24] XiaochenCui commented on #1386
Find reason: KAFKA_ADVERTISED_HOST_NAME: localhost cause the app container can't connect to it

[2019-05-31 03:24] #1386 closed

[2019-05-31 18:19] dhbarman opened #1387 "Need an API to specify offset to consume from an offset in consumer group client."
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: 1.22.1
Kafka Version: 2.0.0
Go Version: 1.12.5

##### Configuration

What configuration values are you using for Sarama and Kafka?

##### Logs

When filing an issue please provide logs from Sarama and Kafka if at all
possible. You can set `sarama.Logger` to a `l

[2019-06-03 03:17] cafra opened #1388 "message Repeat consumption"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version:  v1.22.1
Kafka Version:  v1.0.0
Go Version: v1.11

##### Configuration

config := sarama.NewConfig()
	config.Version = sarama.V0_10_2_0
	config.Consumer.Return.Errors = true
	config.Consumer.Offsets.Initial = sarama.OffsetOldest

##### Logs

![image](https://use

[2019-06-03 03:24] cafra commented on #1388
The following is my packaged code

[code]

[2019-06-03 03:26] cafra commented on #1388
this is  my github address:
https://github.com/cafra/utils/blob/dev/mq/kafka/consumer2.go

[2019-06-04 06:04] Stephan14 opened #1389 "closer, closed chan none in client"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version: 0.10.1
Kafka Version: 0.10.1
Go Version:1.1

##### Problem Description
[code]

I want to know why need `closer` and `closed` two variables? What is the meaning of
shutdown and wait for the background thread before we take the lock, to avoid races

[2019-06-04 09:40] sunjiansen opened #1390 "The version of API is not supported , and how can I monitor consumer lag"
##### Versions

*Please specify real version numbers or git SHAs, not just "Latest" since that changes fairly regularly.*
Sarama Version:1.16.0
Kafka Version: 0.11.0.2
Go Version:1.12

##### Configuration

default config

##### Problem Description
Information can be seen through the script provided by kafka。
![image](https://user-images.githubusercontent.com/41364558/58868831-b6947880-86ef-11e9-8b

[2019-06-04 11:09] skate9819 opened #1391 "Get ListAcls for Principal:"
##### Versions

Sarama Version:1.22.1
Kafka Version:V2_2_0_0
Go Version:1.12.5

##### Configuration

    config := sarama.NewConfig()
    config.Version = sarama.V2_2_0_0
    timeout, _ := time.ParseDuration("20s")
    config.Net.DialTimeout = timeout
    if len(clusterConfig.User) > 0 {
        config.Net.SASL.Enable = true
        config.Net.SASL.User = clusterConfig.User
        config.Net.SASL

[2019-06-04 11:09] skate9819 opened #1392 "Geting ListAcls for Principal: &User"
##### Versions

Sarama Version:1.22.1
Kafka Version:V2_2_0_0
Go Version:1.12.5

##### Configuration

    config := sarama.NewConfig()
    config.Version = sarama.V2_2_0_0
    timeout, _ := time.ParseDuration("20s")
    config.Net.DialTimeout = timeout
    if len(clusterConfig.User) > 0 {
        config.Net.SASL.Enable = true
        config.Net.SASL.User = clusterConfig.User
        config.Net.SASL

[2019-06-04 11:37] skate9819 commented on #1392
Oh. I found a solution:
`ans_1, err1 := cluster.ListAcls(sarama.AclFilter{
        ResourceType: sarama.AclResourceAny,
        ResourcePatternTypeFilter: sarama.AclPatternLiteral,
        Version: 1,
        Principal: &User,
        Operation: sarama.AclOperationAny,
        PermissionType: sarama.AclPermissionAny,
    })
`

[2019-06-04 11:38] #1392 closed

[2019-06-04 11:39] #1391 closed

[2019-06-04 19:16] arianitu commented on #875
Anyone running into this, you can fix it like so:

[code]

[2019-06-05 11:22] burdiyan commented on #1208
@varun06 `ConsumerGroupHandler` provides context in `ConsumerGroupSession` argument: https://godoc.org/github.com/Shopify/sarama#ConsumerGroupSession

[2019-06-05 11:23] burdiyan commented on #1221
I'm pretty sure author was referring to explicit commit, rather than just marking the offset internally. We would also like to have this feature!